<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>代码生成工具</title>

    <link rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css" type="text/css" />

    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="../../platform/javascript/view/init.js"></script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li>
        <a paragraph href="#">Emmet：HTML/CSS代码快速编写神器</a>
      </li>
    </ol>
    <div class="h-web-paragraph">
      <h3 paragraph>Emmet：HTML/CSS代码快速编写神器</h3>
      <p><a href="http://emmet.io/">Emmet</a> 前身是Zen coding</p>
      <p>详细介绍可以看这里：<a href="http://www.iteye.com/news/27580">Emmet：HTML/CSS代码快速编写神器</a></p>
      <p>对于html主要记住 > ^ + # . * $ {} () 这几个符号即可。 </p>

    </div>
  </body>
</html>