<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>git 版本控制管理</title>

    <link rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css" type="text/css" />

    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="../../platform/javascript/view/init.js"></script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li>
        <a paragraph href="#">Git 介绍</a>
      </li>
      <li>
        <a paragraph href="#">在 github上创建发布资源库</a>
      </li>
      <li>
        <a paragraph href="#">Git 分支管理</a>
      </li>
      <li>
        <a paragraph href="#">github Pages搭建</a>
      </li>
    </ol>
    <div class="h-web-paragraph">
      <h3 paragraph>Git 介绍</h3>
      <div>
        <p><a href="http://git-scm.com/">git 官方网站</a></p>
        <p><a href="https://github.com/">github 官网</a></p>
        <p><a href="http://git.oschina.net/">国产git 仓库</a></p>
        <p>官方推荐的git 参考书 <a href="http://git-scm.com/book">Pro Git</a>。
          其中文版地址为<a href="http://git-scm.com/book/zh">官方中文版</a> 和 <a href="http://git.oschina.net/progit/">Pro Git（中文版）</a></p>
        <p><a href="http://git-scm.com/docs">git 手册</a>，本地如果安装了git，在其安装目录中也可以找到该文档。</p>
        <p>以下是 git 学习笔记，记录本人工作学习中用到的 git 命令、技巧等。详细的资料还是看官方推荐的书以及文档（doc）。</p>
      </div>
      <h3 paragraph>在 github上创建发布资源库</h3>
      <div>
        <ol>
          <li>
            github 新建资源库（New repository）
            <p>在github官网创建一资源库，比如：my-project，创建时可以根据需要添加 README.md 和 LICENSE</p>
          </li>
          <li>
            初始化git
            <p>在本地新建文件夹my-project，并切换到my-project下，执行命令：git init完成git的初始化</p>
          </li>
          <li>
            添加到本地仓库
            <p>执行以下命令 git add -A 即可，这里我们选择option为 -A 添加所有的文件</p>
          </li>
          <li>
            提交到本地库
            <p>执行以下命令 git commit -m "comment content"</p>
          </li>
          <li>
            绑定 github远程仓库（我们用ssh方式，这样每次提交不用输入密码）
            <p>命令为：git remote add origin git@github.com:your-space/my-project.git</p>
          </li>
          <li>
            提交到服务器端
            <p>命令为：git push origin master。 origin也可以是其他名称</p>
            <p>这里需要注意的是：如果我们在github中创建资源库的时候添加了readme.md等文件，在提交到服务器之前需要git pull，执行以下命令</p>
            <pre>git pull git@github.com:your-space/my-project.git master</pre>
          </li>
          <li>
            设置 git push 直接提交到远程仓库
            <p>执行以下命令：git push --set-upstream origin master。这样就不用每次都输入 git push origin master </p>
          </li>
          <li>
            直接利用命令 git clone从服务器clone到本地
            <p>命令如下：git clone git@github.com:your-space/my-project.git</p>
            <p>这种方式比较简单，clone后再上传本地文件。</p>
          </li>
        </ol>
      </div>

      <h3 paragraph>Git 分支管理</h3>
      <div>
        <p>创建本地分支： git branch branchName</p>
        <p>创建远程分支，远程分支就是本地分支push到服务器上</p>
        <p>首先切换到本地分支上，git checkout branchName，然后把代码提交到服务器分支上，git push origin branchName</p>
        <p>分支合并</p>
        <p>假如当前是在master分支上（git checkout master），我们可以执行以下命令把分支上的改动merge到master上</p>
        <p>git merge -m "Merge from gh-pages" gh-pages</p>
        <p>假如当前是在gh-pages分支上（git checkout gh-pages），我们可以执行以下命令把master上的改动merge到gh-pages上</p>
        <p> git merge -m "Merge from master" master</p>
        <p>如果合并失败，处理一下冲突再提交即可。</p>
        <p>删除本地分支（假设分支名为gh-pages）</p>
        <p>$ git branch -d gh-pages</p>
        <p>如果本地还没有合并到master上，则会提示：error: The branch 'gh-pages' is not fully merged.
          If you are sure you want to delete it, run 'git branch -D gh-pages'.</p>
        <p>我们调用git branch -D gh-pages即可删除，删除本地分支不会删除掉服务器端的。</p>
        <p>删除本地后，我们就可以直接切换到服务器端的分支 git checkout gh-pages，这样提交的时候直接用命令 git push就可以了。
          如果没有删除本地的分支，需要用以下命令往服务器端提交（git push origin gh-pages）</p>
      </div>

      <h3 paragraph>github Pages搭建</h3>
      <div>
        <p>github Pages搭建其实很简单，首先需要创建分支 gh-pages 并提交到github上。该分支的名字必须是 gh-pages，因为github规定，只有该分支中的页面，才会生成网页文件。
          然后在该分支下创建文件 _config.yml。该文件可以配置多个<a href="http://jekyllrb.com/docs/configuration/">configuration</a>。
          下面是一个简单的例子，只设置了 baseurl（网页访问上下文） config</p>
        <pre>
baseurl: /web-context
        </pre>
        <p>除了手动创建该分支，我们也可以让github自动生成github pages。github pages 会自动创建该分支，并且生成一些初始化页面。</p>
        <p>首先进入要创建github pages 的资源库（repository），点击 settings后进入settings页面，找到 Github Pages区域点击 Automatic Page Generator 按钮就会生成github pages。</p>
        <p>github pages其实是基于 <a href="http://jekyllrb.com/">jekyll</a> 构建的，Transform your plain text into static websites and blogs.</p>
        <p>jekyll支持 template 开发，可以作为静态页面服务器。利用gem 安装 jekyll后，可以创建静态web目录结构，快速开发静态网站。</p>
        <p>参考资料：<a href="http://www.ruanyifeng.com/blog/2012/08/blogging_with_jekyll.html">github Pages搭建</a></p>
      </div>
    </div>
  </body>
</html>