<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Web 前端开发工具</title>

    <link rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css" type="text/css" />

    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="../../platform/javascript/view/init.js"></script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <div class="h-web-paragraph">
      <h3 paragraph>开发工具WebStorm</h3>
      <div>
        <p><a href="http://www.jetbrains.com/webstorm/">WebStorm 官方网站</a></p>
        <p><a href="http://www.cssha.com/webstorm">令人眼前一亮的一款前端开发IDE</a></p>
        <p><a href="http://www.book.36ria.com/webstorm/index.html">WebStorm 入门指南</a></p>
        <p><a href="http://cnodejs.org/topic/5197390c63e9f8a54243f137">在 WebStorm 里直接调用命令行</a></p>
        <p><a href="http://blog.fens.me/angularjs-webstorm-ide/">AngularJS最理想开发工具WebStorm</a></p>
      </div>
    </div>
  </body>
</html>