/*******************************************************************************/
/*	所有的样式以h-开头，base.css是最基本的样式 */
/*******************************************************************************/

/*******************************************************************************/
/*	Reset */
/*******************************************************************************/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

ol,ul {
  list-style: none;
}

li {
  list-style-type: none;
}

/*******************************************************************************/
/*	Global Selectors & Classes */
/*******************************************************************************/
body {
  position: relative;
  font-family: "微软雅黑", "宋体", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6em; /*1.6 * 15px = 24px*/
  color: #005B73;
}

/*******
* 声明顺序应为：L-V-H-A
*********/
a {

}

a:link{
  color: #009EC3;
  text-decoration: none;
}
a:visited{
  color: #f0720d;
}
a:hover{
  text-decoration: none; 
}
.h-float-l {
  float: left;
}

.h-float-r {
  float: right;
}

.h-absolute {
  position: absolute;
}

.h-relative {
  position: relative;
}

/**字体（行内元素）超过规定长度会显示冒点**/
.h-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.h-font-gray {
  color: #777777;
}

/*线*/
.h-line {
  display: block;
  height: 1px;
  background-color: #CCCCCC;
}

/*外边距 margin*/
.h-margin10 {
  margin: 10px;
}

.h-margin10-T {
  margin-top: 10px;
}

.h-margin10-B {
  margin-bottom: 10px;
}

.h-margin10-TB {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h-margin10-L {
  margin-left: 10px;
}

.h-margin10-R {
  margin-right: 10px;
}
/*内边距 padding*/
.h-padding10{
  padding: 10px;
}

/*******************************************************************************/
/* css3 圆角按钮
/*******************************************************************************/
.h-button-radius {
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
/*圆角块*/
.h-block-radius{
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*******************************************************************************/
/* Clearfix
/*******************************************************************************/
.h-clearfix {
  zoom: 1
}

.h-clearfix:before,.h-clearfix:after {
  display: block;
  height: 0;
  content: "\0020";
  visibility: hidden;
}

.h-clearfix:after {
  clear: both;
}

/*******************************************************************************/
/* SyntaxHighlighter 定制化样式 */
/*******************************************************************************/
.syntaxhighlighter {
  padding: 10px 0;
  font-size: 15px !important;
  background-color: #E3F2E1 !important;
  border: 1px solid #6DCBBB;
}

.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 {
  background-color: #E3F2E1 !important;
}
.syntaxhighlighter .gutter {
    color: #333333 !important;
}
/*******************************************************************************/
/* Icons */
/*******************************************************************************/