<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sea.js 学习笔记</title>

    <link rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css" type="text/css" />

    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="../../platform/javascript/view/init.js"></script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>

    <div class="h-web-paragraph">
      <h3 paragraph>Sea.js 介绍</h3>
      <div>
        <p><a href="http://www.seajs.org/">官网</a>(<a href="http://seajs.org/docs/">http://seajs.org/docs/</a>)</p>
        <p>Sea.js是一款遵循CommonJS规范的JavaScript模块加载框架，其主要作者是就职于支付宝的前端工程师 玉伯，目前由阿里、腾讯等公司共同维护</p>
      </div>
    </div>
  </body>
</html>