<!DOCTYPE html>
<html ng-app>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>sort</title>
  </head>
  <body>
    <div ng-controller="TestCtrl">
       <table>
        <tr>
          <th ng-click="f='name'; rev=!rev">名字</th>
           <th ng-click="f='age'; rev=!rev">年龄</th>
       </tr>
  
        <tr ng-repeat="o in data | orderBy: f : rev">
        <td>{{ o.name }}</td>
         <td>{{ o.age }}</td>
 </tr>
      </table>
  </div>
    <script type="text/javascript" src="../../../../../platform/javascript/jquery/jquery.js"></script>
    <script type="text/javascript" src="../../angular.js"></script>
    <script type="text/javascript">
        var TestCtrl = function($scope){
 $scope.data = [
       {name: 'B', age: 4},  
       {name: 'A', age: 1},  
       {name: 'D', age: 3},  
       {name: 'C', age: 3},  
      ];
    }
 
    </script>

  </body>
</html>
