<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Javascript参考资料</title>
        <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>
    </head>
    <body>
        <div class="h-web-paragraph">
            <p>
                <a href="http://bonsaiden.github.com/JavaScript-Garden/zh/" target="_blank">JavaScript 秘密花园</a>
            （该网站中介绍了JavaScript的一些古怪用法，<span class="h-web-font-red">强力值的一看</span>。） </p>
        </div>
    </body>
</html>