<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>JavaScript doc生成器</title>
    <link rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css" type="text/css" />

    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="../../platform/javascript/view/init.js"></script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li>
        <a paragraph href="#">文档生成工具介绍</a>
      </li>
      <li>
        <a paragraph href="#">JSDoc 实战</a>
        <ol class="h-web-catalogue2">
          <li>
            <a href="#">安装使用</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#">直接下载安装</a>
              </li>
              <li>
                <a href="#">nodejs安装</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#">jsdoc options</a>
          </li>
          <li>
            <a href="#">官方一些例子</a>
          </li>
          <li>
            <a href="#">Configuring JSDoc 3 with conf.json JSDoc 配置文件</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#">Plugins</a>
              </li>
              <li>
                <a href="#">Output style configuration</a>
              </li>
              <li>
                <a href="#">是否允许自定义标签</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#">Inline tags 内部链接导航标签</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#"> {@link} tag</a>
              </li>
              <li>
                <a href="#">{@linkplain} tag</a>
              </li>
              <li>
                <a href="#"> {@linkcode} tag</a>
              </li>
              <li>
                <a href="#">{@tutorial}</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#">CommonJS Modules</a>
          </li>
        </ol>
      </li>
      <li>
        <a paragraph href="#">JSDoc 3 Tag Dictionary</a>
        <ol class="h-web-catalogue2">
          <li>
            <a href="#">Inline tags</a>
          </li>
          <li>
            <a href="#">@abstract</a>
          </li>
          <li>
            <a href="#">@access</a>
          </li>
          <li>
            <a href="#">@alias</a>
          </li>
          <li>
            <a href="#">@augments</a>
          </li>
          <li>
            <a href="#">@author</a>
          </li>
          <li>
            <a href="#">@borrows</a>
          </li>
          <li>
            <a href="#">@callback</a>
          </li>
          <li>
            <a href="#">@classdesc</a>
          </li>
          <li>
            <a href="#">@constant</a>
          </li>
          <li>
            <a href="#">@constructor</a>
          </li>
          <li>
            <a href="#">@constructs</a>
          </li>
          <li>
            <a href="#">@copyright</a>
          </li>
          <li>
            <a href="#">@default</a>
          </li>
          <li>
            <a href="#">@deprecated</a>
          </li>
          <li>
            <a href="#">@desc</a>
          </li>
          <li>
            <a href="#">@enum</a>
          </li>
          <li>
            <a href="#">@event</a>
          </li>
          <li>
            <a href="#">@example</a>
          </li>
          <li>
            <a href="#">@exports</a>
          </li>
          <li>
            <a href="#">@external</a>
          </li>
          <li>
            <a href="#">@file</a>
          </li>
          <li>
            <a href="#">@fires</a>
          </li>
          <li>
            <a href="#">@global</a>
          </li>
          <li>
            <a href="#">@ignore</a>
          </li>
          <li>
            <a href="#">@inner</a>
          </li>
          <li>
            <a href="#">@instance</a>
          </li>
          <li>
            <a href="#">@kind</a>
          </li>
          <li>
            <a href="#">@lends</a>
          </li>
          <li>
            <a href="#">@license</a>
          </li>
          <li>
            <a href="#">@link</a>
          </li>
          <li>
            <a href="#">@member</a>
          </li>
          <li>
            <a href="#">@memberof</a>
          </li>
          <li>
            <a href="#">@method</a>
          </li>
          <li>
            <a href="#">@mixes</a>
          </li>
          <li>
            <a href="#">@mixin</a>
          </li>
          <li>
            <a href="#">@module</a>
          </li>
          <li>
            <a href="#">@name</a>
          </li>
          <li>
            <a href="#">@namespace</a>
          </li>
          <li>
            <a href="#">@param</a>
          </li>
          <li>
            <a href="#">@private @protected @public</a>
          </li>
          <li>
            <a href="#">@property</a>
          </li>
          <li>
            <a href="#">@readonly</a>
          </li>
          <li>
            <a href="#">@requires</a>
          </li>
          <li>
            <a href="#">@returns</a>
          </li>
          <li>
            <a href="#">@see</a>
          </li>
          <li>
            <a href="#">@since</a>
          </li>
          <li>
            <a href="#">@static</a>
          </li>
          <li>
            <a href="#">@summary</a>
          </li>
          <li>
            <a href="#">@this</a>
          </li>
          <li>
            <a href="#">@throws</a>
          </li>
          <li>
            <a href="#">@todo</a>
          </li>
          <li>
            <a href="#">@tutorial</a>
          </li>
          <li>
            <a href="#">@type</a>
          </li>
          <li>
            <a href="#">@typedef</a>
          </li>
          <li>
            <a href="#">@variation</a>
          </li>
          <li>
            <a href="#">@version</a>
          </li>
        </ol>
      </li>
    </ol>

    <div class="h-web-paragraph">
      <h3 paragraph>文档生成工具介绍</h3>
      <div>
        <p>关于Javascript文档生成器 主流的有：JSDoc , YUIDoc , Dox , JSDuck</p>
        <p>以下是参考资料</p>
        <p><a href="http://spencer.kokiya.com/javascript-documetation-tools-summary/" target="_blank">关于Javascript文档生成器 JSDoc , YUIDoc , Dox , JSDuck</a></p>
        <p><a href="http://www.36ria.com/5101">使用jsdoc生成组件API文档—jsdoc实战</a></p>
        <p><a href="http://www.kankanews.com/ICkengine/archives/36099.shtml">使用grunt-jsdoc自动化生成javascirpt文档</a></p>
      </div>
      <h3 paragraph>JSDoc 实战</h3>
      <div>
        <p><a href="https://github.com/jsdoc3/jsdoc">JSDoc</a> 官方介绍：
          JSDoc3是一款为Javascript设计的API文档生成器。他类似于JavaDoc或PHPDoc，你只需在你的源代码旁添加文档注释，JSDoc工具就会遍历你的源代码，最终为你的文档生成一个完整的HTML帮助文件。</p>
        <p>JSDoc3是基于Java实现的，所以需要安装Java，以前版本（1.x和2.x）被称为：jsdoc-toolkit</p>
        <p><a href="http://usejsdoc.org/">Project Documentation</a></p>

        <h4>安装使用</h4>
        <h5>直接下载安装</h5>
        <p>首先到官方网站下载 <a href="https://github.com/jsdoc3/jsdoc">JSDoc</a>，下载后设置环境变量，把 jsdoc 添加到 path ，这样在其他目录也可以调用该命令来生成js doc。
          可以用以下命令来检测是否安装成功。
        </p>
        <pre>jsdoc -T</pre>
        <p class="h-web-font-red">
          这里需要注意的是：经测试最新版本3.3.0会报错（不知为什么），但版本jsdoc-3.2.2可以。在设置了环境变量path后，jsdoc也可以在其他目录下生成javascript文档。
          如果在当前目录下运行 test 即加入参数 -T 时，需要把jsdoc安装路径下的test文件夹复制到当前目录中。
        </p>
        <h5>nodejs安装</h5>
        <p>我们可以利用nodejs来安装，执行以下命令全局安装jsdoc</p>
        <pre>npm install -g jsdoc</pre>
        <p>全局卸载命令为：</p>
        <pre>npm uninstall -g jsdoc</pre>
        <p>同样安装最新版本后执行 -T 操作会报错，缓存版本3.2.2也会报错</p>

        <h4>jsdoc options</h4>
        <p>我们利用以下命令来查看jsdoc options</p>
        <pre>jsdoc --help</pre>
        <p>执行后</p>
        <pre>
OPTIONS:
        -t, --template &lt;value&gt;          The path to the template to use. Default: path/to/jsdoc/templates/default （设置默认模板路径）
        -c, --configure &lt;value&gt;         The path to the configuration file. Default: path/to/jsdoc/conf.json （设置配置文件）
        -e, --encoding &lt;value&gt;          Assume this encoding when reading all source files. Default: utf8 （设置编码）
        -T, --test              Run all tests and quit. （运行所有的测试）
        -d, --destination &lt;value&gt;       The path to the output folder. Use "console" to dump data to the console. Default: ./out/ （设置输出路径）
        -u, --tutorials &lt;value&gt;         Directory in which JSDoc should search for tutorials.（设置tutorials）
        -p, --private           By default, symbols marked with the @private tag are not included in the output documentation. If this flag is provided, then they will be.
                               （是否显示注释private标记，默认为false）
        -r, --recurse           Recurse into subdirectories when scanning for source code files.（该选项可以对给定的目录下所有子目录生成jsdoc）
        -l, --lenient           By default, if JSDoc encounters an error while parsing and generating documentation,
                                it will halt and display the error to the user. If the lenient flag is provided it will continue to generate output even if this occurs.
                                （发生错误是否终止，默认为false）
        -q, --query &lt;value&gt;             A query string to parse and store in env.opts.query. Example: foo=bar&baz=true

        The following flags will cause JSDoc to do something else rather than generating documentation:
        -h, --help              Print this message and quit.
        -X, --explain           Dump all found doclet internals to console and quit.
        -v, --version           Display the version number and quit.

        The following options affect JSDoc's behaviour when it is running tests (i.e. the -T or --test option was given):
        --verbose               Display verbose output for tests（显示详细测试信息）
        --match &lt;value&gt;         Only run tests containing &lt;value&gt;（仅仅运行设置的值）
        --nocolor               Do not use color in console output from tests
        </pre>

        <p>使用：执行以下命令即可生成javascript doc，默认会输出到当前文件夹下，并创建out文件夹。</p>
        <pre>jsdoc yourSourceCodeFile.js</pre>
        <p>这里有个简单的JSDoc注释 <a href="./examples/jsdoc/jsdoc-demo.js">例子</a></p>

        <h4>官方一些例子</h4>
        <p>Command-line options</p>
        <pre>/path/to/jsdoc src -r -t haruki -c /path/to/my/conf.json -d docs</pre>
        <p>上面的例子将使用模板 haruki （该模板相对于在当前路径）和配置文件/path/to/my/conf.json 生成 src下的所有js文档。</p>
        <pre>/path/to/jsdoc -T --match 'tag' --verbose</pre>
        <p>上面例子将测试包含tag注释（例如：'@since tag', '@exports tag'），并把详细信息输出到控制台中</p>

        <h4>Configuring JSDoc 3 with conf.json JSDoc 配置文件</h4>
        <p>配置文件可以用选项 -c（--configure ）来指定，这个配置文件可以设置一些生成js doc的参数，还可以把命令行的参数写到该文件中。该文件是json格式的。</p>
        <p>以下配置文件是一个比较齐全的格式，包括命令行格式设置</p>

        <pre class='brush: js;'>
    // You must remove the comments before adding these options to your .json file
    {
        "tags": {
            "allowUnknownTags": true
        },
        "source": {
            "include": [],
            "exclude": [],
            "includePattern": ".+\\.js(doc)?$",
            "excludePattern": "(^|\\/|\\\\)_"
        },
        "plugins": [],
        "templates": {
            "cleverLinks": false,
            "monospaceLinks": false
        },
        "opts": {
            "template": "templates/default",  // same as -t templates/default
            "encoding": "utf8",               // same as -e utf8
            "destination": "./out/",          // same as -d ./out/
            "recurse": true,                  // same as -r
            "tutorials": "path/to/tutorials", // same as -u path/to/tutorials, default "" (no tutorials)
            "query": "value",                 // same as -q value, default "" (no query)
            "private": true,                  // same as -p
            "lenient": true,                  // same as -l
            // these can also be included, though you probably wouldn't bother
            // putting these in conf.json rather than the command line as they cause
            // JSDoc not to produce documentation. 
            "version": true,                  // same as --version or -v
            "explain": true,                  // same as -X
            "test": true,                     // same as -T
            "help": true,                     // same as --help or -h
            "verbose": true,                  // same as --verbose, only relevant to tests.
            "match": "value",                 // same as --match value, only relevant to tests.
            "nocolor": true                   // same as --nocolor, only relevant to tests
        }
    }
        </pre>
        <h5>Plugins</h5>
        <p>看下面的例子，该例子包括Markdown plugin and verbose output plugin</p>
        <pre class='brush: js; '>
  ...
  "plugins": [
      "plugins/markdown",
      "plugins/verboseOutput"
  ]
  ...        
        </pre>
        <p>更多的插件看 <a href="http://usejsdoc.org/about-plugins.html">这里</a></p>
        <h5>Output style configuration</h5>
        <pre class='brush: js; '>
    ...
    "templates": {
        "cleverLinks": false,
        "monospaceLinks": false
    },
    ...
        </pre>
        <p>输出js doc 风格定义，详细看<a href="http://usejsdoc.org/about-configuring-jsdoc.html#configuration-file-templates">这里</a></p>
        <h5>是否允许自定义标签</h5>
        <pre class='brush: js; '>
    ...
    "tags": {
        "allowUnknownTags": true
    },
    ...
        </pre>
        <p>默认是true，即允许，如果设为false，如果自定了一个标签，比如（@foobar)，则会抛出错误。</p>

        <h4>Inline tags 内部链接导航标签</h4>
        <p>这类标签有以下几种</p>
        <ul>
          <li>
            {@link}:
            <p>链接一个 JSDoc namepath 或者一个url链接。可以在配置文件中修改他的样式
              Link to a JSDoc namepath or an external URL. By default, links are rendered in plain text.
              If you prefer links to be rendered in a monospace font, you can use the configuration options template.monospaceLinks and templates.cleverLinks to change this behavior.
            </p>
          </li>
          <li>{@linkcode}: Insert a link that should be rendered in a monospace font.</li>
          <li>{@linkplain}: Insert a link that should not be rendered in a monospace font.</li>
          <li>{@tutorial}: Link to a tutorial. </li>
        </ul>
        <p>Inline tag 必须写在 { } 中，如果注释中想显示 {} 时，我们必须转义，形如：{\} </p>
        <pre class='brush: js; '>
    /**
     * This description links to the {@link Macaroni} class.
     */
    function Cheese() {
    }
    /**
     * 注释中本身包含 {}
     * This description includes {@link Cheese|link text with {curly braces\}}.
     */
    function Macaroni() {
    }
        </pre>
        <h5> {@link} tag</h5>
        <p>Linking to <a href="http://usejsdoc.org/tags-module.html">@module</a>, <a href="http://usejsdoc.org/tags-external.html">@external</a>, or <a href="http://usejsdoc.org/tags-event.html">@event</a></p>
        <pre class='brush: js; '>
    /**
     * A module. Refer to it using {@link module:foo/bar}.
     * @module foo/bar
     */
    /**
     * The built-in string object. Refer to it with {@link external:String}.
     * @external String
     */
    /**
     * An event. Refer to with {@link module:foo/bar.event:MyEvent}.
     * @event module:foo/bar.event:MyEvent
     */
        </pre>
        <p>Linking to objects with special characters in the name</p>
        <pre class='brush: js; '>
    /** @namespace */
    var chat = {
        /**
         * Refer to this as {@link chat."#channel"}.
         * @namespace
         */
        "#channel": {
            /**
             * Refer to this as {@link chat."#channel".open}.
             * @type {boolean}
             * @defaultvalue
             */
            open: true,
            /**
             * Internal quotes have to be escaped by a backslash. This is
             * {@link chat."#channel"."say-\"hello\""}.
             */
            'say-"hello"': function (msg) {};
        }
    };

    /**
     * Now we define an event in our {@link chat.#channel} namespace.
     * @event chat."#channel"."op:announce-motd"
     */
        </pre>
        <p>The {@link} tag Syntax 语法</p>
        <pre>
    {@link someNamepathOrURL}
    [link text here]{@link someNamepathOrURL}
    {@link someNamepathOrURL|link text here}
    {@link someNamepathOrURL Link text here (after the first space)}
        </pre>
        <p>例子：</p>
        <pre class='brush: js; '>
    /**
     * See {@link MyClass} and [MyClass's foo property]{@link MyClass#foo}.
     * Also, check out {@link http://www.google.com|Google} and
     * {@link https://github.com GitHub}.
     */
    function myFunction() {}

    /**
     * A class.
     * @class
     */
    function MyClass() {
        /** foo property */
        this.foo = 1;
    }
        </pre>
        <p>输出结果为：</p>
        <pre class='brush: js; '>
    See &lt;a href="MyClass.html"&gt;MyClass&lt;/a&gt; and &lt;a href="MyClass.html#foo"&gt;MyClass's foo property&lt;/a&gt;.
    Also, check out &lt;a href="http://www.google.com"&gt;Google&lt;/a&gt; and &lt;a href="https://github.com"&gt;GitHub&lt;/a&gt;.
        </pre>
        <p>设置 {@link} config</p>
        <p>在配置 conf.json文件中是通过设置templates属性来改变link样式的，默认为false</p>
        <pre class='brush: js; '>
    {
        ...
        "templates": {
            "cleverLinks": false,
            "monospaceLinks": false
        },
        ...
    }
        </pre>
        <p> When templates.monospaceLinks is true, all {@link} tags appear in monospace font.
          For example, "{@link asdf}" will become &lt;a href="#"&gt;&lt;code&gt;asdf&lt;/code&gt;&lt;/a&gt;. Use {@linkplain} to render a single link in plain text.&lt;/p&gt;

        <p>When templates.cleverLinks is true, a {@link} that points to an external URL appears in plain text,
          while a {@link} to a JSDoc namepath will appear in monospace. Use {@linkplain} and {@linkcode} 
          to override this formatting for an individual link.</p>

        <p>If both options are true, templates.cleverLinks is used. </p>

        <h5>{@linkplain} tag</h5>
        <p>syntax 语法</p>
        <pre class='brush: js; '>
    {@linkplain someNamepathOrURL}
    [link text here]{@linkplain someNamepathOrURL}
    {@linkplain someNamepathOrURL|link text here}
    {@linkplain someNamepathOrURL Link text here (after the first space)}
        </pre>
        <p>The {@linkplain} tag is exactly the same as {@link}, except that it forces JSDoc to render
          the link in plain text regardless of your configuration options. </p>
        <p>For example, if the templates.monospaceLinks option is enabled, "{@link fooBar}"
          will be converted to &lt;a href="#"&gt;&lt;code&gt;fooBar&lt;/code&gt;&lt;/a&gt;. 
          However, "{@linkplain fooBar}" will be converted to &lt;a href="#"&gt;fooBar&lt;/a&gt;. </p>

        <h5> {@linkcode} tag</h5>
        <p>syntax</p>
        <pre class='brush: js; '>
    {@linkcode someNamepathOrURL}
    [link text here]{@linkcode someNamepathOrURL}
    {@linkcode someNamepathOrURL|link text here}
    {@linkcode someNamepathOrURL Link text here (after the first space)}
        </pre>
        <p>The {@linkcode} tag is exactly the same as {@link}, except that it forces JSDoc to render the link in a monospace font regardless of your configuration options. 
          For example, "{@linkcode fooBar}" will be converted to &lt;a href="#"&gt;&lt;code&gt;fooBar&lt;/code&gt;&lt;/a&gt;. </p>
        <h5>{@tutorial}</h5>
        <p>syntax</p>
        <pre class='brush: js; '>
    {@tutorial tutorialID}
        </pre>
        <p> The inline {@tutorial} tag is used to link to a tutorial. The link text for a {@tutorial} tag is  always rendered in plain text. See the <a href="http://usejsdoc.org/about-tutorials.html">tutorials overview</a> for more information on setting up tutorials. </p>
        <p> The @tutorial tag may also be used as a block tag; see the <a href="http://usejsdoc.org/tags-tutorial.html">@tutorial</a> page for more information. </p>
        <p>使用Tutorials机制，我们可以对Javascript代码做出更加详细的，更加复杂的的教程页面。要启用Tutorials，首先需要在配置文件中指定一个包含tutorials页面的文件夹路径，比如：tutorials  : 'dev_release/demo'

          然后在需要的地方用 @tutorial 注解，并且指定tutorial的ID。具体来说，一个tutorial的ID其实就是文件名。</p>
        <p>例子</p>
        <pre class='brush: js; '>
    /**
     * Description.
     * Check out {@tutorial tutorial1} and {@tutorial tutorial2}.
     * @class
     */
        </pre>

        <h4>CommonJS Modules</h4>
        <p>JSDoc 提供了一个标签 @module 来写符合 <a href="http://wiki.commonjs.org/wiki/Modules/1.1">CommonJS Modules standard</a> 的注释，下面例子定义了一个"my/shirt" module</p>

        <pre class='brush: js; '>
    /** @module my/shirt */

    /** Try it on. */
    exports.putOn = function(someShirt) {
    }

    /** Make it easier to put on and remove. */
    exports.unbutton = function(someShirt) {
    }
        </pre>
        <p>关于这方面的详细了解，可以参考 <a href="http://usejsdoc.org/howto-commonjs-modules.html">这里</a></p>

      </div>
      <h3 paragraph>JSDoc 3 Tag Dictionary</h3>
      <div>
        <h4>Inline tags</h4>
        <p>该标签上面已介绍过，用来内部链接</p>

        <h4>@abstract</h4>
        <p><a href="http://usejsdoc.org/tags-abstract.html">@abstract</a> tag 表示该方法是抽象的，继承该类的子类必须要实现该方法</p>
        <p><a href="./examples/jsdoc/abstract-demo/Class.js">例子</a></p>

        <h4>@access</h4>
        <p>用来指明是 public，protected 或 private。@access &lt;private|protected|public&gt; 与 @private, @protected, @public 效果是一样的。</p>
        <p><a href="./examples/jsdoc/access/access.js">例子</a></p>

        <h4>@alias</h4>
        <p><a href="http://usejsdoc.org/tags-alias.html">@alias</a> 主要用在内部函数或变量中，这样JSDoc可以把需要的内部函数和属性展现给用户。</p>
        <p>@alias 可用在内部匿名构造函数上，也可用在定义了@namespace的静态成员上，还可以用在一个对象上。他和 @name 标签是不一样的。</p>
        <p><a href="./examples/jsdoc/alias/alias.js">例子</a></p>

        <h4>@augments</h4>
        <p><a href="http://usejsdoc.org/tags-augments.html">@augments</a> 
          While current versions of JavaScript don't allow classes or subclasses in the same way that class-based languages like Java do, 
          many programmers choose to think of their code structure in these terms. For this purpose JSDoc provides the @class and @extends tags. 
          If you wish to express a similar relationship between two symbols, but don't wish to promote the classical analogy, you can use the @contructor and @augments tags instead. </p>
        <p>生成的文档会显示继承的信息</p>
        <p><a href="./examples/jsdoc/alias/alias.js">例子</a></p>

        <h4>@author</h4>
        <p><a href="http://usejsdoc.org/tags-author.html">@author</a> 指明作者信息</p>
        <p>例子</p>
        <pre class='brush: js; '>
    /**
     * @author Jane Smith &lt;jsmith@example.com&gt;
     */
    function MyClass() {}
        </pre>

        <h4>@borrows</h4>
        <p><a href="http://usejsdoc.org/tags-borrows.html">@borrows</a> 语法为：@borrows &lt;that namepath &gt; as &lt;this namepath&gt;。
          表示当两个不同的函数名实现的功能是一样的，我们就可以对其中的一个做详细的注释，而其他的只需用该标签即可。</p>
        <p>以下例子 util.trim 会借用 trstr的注释。</p>
        <pre class='brush: js; '>
    /**
     * @namespace
     * @borrows trstr as trim
     */
    var util = {
        trim: trstr
    };

    /** 
     * Remove whitespace from around a string.
     * @param {string} str
     */
    function trstr(str) {
    }
        </pre>

        <h4>@callback</h4>
        <p><a href="http://usejsdoc.org/tags-callback.html">@callback</a> 用来定义回调函数详细注释信息。通常是跟 @param一起使用的。</p>
        <p>例子</p>
        <pre class='brush: js; '>
    /**
     * Documenting a global callback
     * @class
     */
    function Requester() {}

    /**
     * Send a request.
     * @param {requestCallback} cb - The callback that handles the response.
     */
    Requester.prototype.send = function(cb) {
        // code
    };

    /**
     * This callback is displayed as a global member.
     * @callback requestCallback
     * @param {number} responseCode
     * @param {string} responseMessage
     */
        </pre>

        <h4>@classdesc</h4>
        <p><a href="http://usejsdoc.org/tags-classdesc.html">@classdesc</a> 用来描述类的，而 @class 是用来标示类的，请看例子</p>
        <pre>
    /**
     * This is a description of the MyClass constructor function.
     * @class
     * @classdesc This is a description of the MyClass class.（描述类的信息用该标签）
     */
    function MyClass() {
    }
        </pre>

        <h4>@constant</h4>
        <p><a href="http://usejsdoc.org/tags-constant.html">@constant</a> 用来声明常量的。</p>
        <pre class='brush: js; '>
    /** @constant
        版本低的js不支持const关键字
        @type {string}
        @default
    */
    const RED = 'FF0000';

    /** @constant {number} */
    var ONE = 1;

        </pre>

        <h4>@constructor</h4>
        <p><a href="http://usejsdoc.org/tags-constructor.html">@constructor</a> 用来声明一个函数作为构造函数，表明可以用new来实例化，语法： @constructor [&lt;type&gt; &lt;name&gt;] </p>
        <pre class='brush: js; '>
    /**
     * Creates a new Person.
     * @constructor 
     */ 
    Person = function() {
    }

    var p = new Person();
        </pre>

        <h4>@constructs</h4>
        <p><a href="http://usejsdoc.org/tags-constructs.html">@constructs</a> 与 @constructor（直接定义构造函数）不同的是可以利用对象字面来指定其构造函数</p>
        <pre class='brush: js; '>
    //Using the @constructs tag with @lends
    var Person = makeClass(
        /** @lends Person.prototype */
        {
            /** @constructs */
            initialize: function(name) {
                this.name = name;
            },
            /** Describe me. */
            say: function(message) {
                return this.name + " says: " + message;
            }
        }
    );

    //Without @lends you must provide the name of the class
    makeClass('Menu', 
        /**
         * @constructs Menu
         * @param items
         */
        function (items) { },
        {
            /** @memberof Menu# */
            show: function(){
            }
        }
    );
        </pre>

        <h4>@copyright</h4>
        <p><a href="http://usejsdoc.org/tags-copyright.html">@copyright</a> 说明版本信息的</p>

        <h4>@default</h4>
        <p><a href="http://usejsdoc.org/tags-default.html">@default</a> 用来标识默认值的，语法 @default [&lt;some value&gt;]</p>
        <pre>
    /**
     *  @constant
     *  @default
     */
    const RED = 0xff0000;
        </pre>

        <h4>@deprecated</h4>
        <p><a href="http://usejsdoc.org/tags-deprecated.html">@deprecated</a> 用来标识不赞成的属性或方法或类等。语法 @deprecated [&lt;some text&gt;]</p>
        <pre>
    /**
     * @deprecated since version 2.0
     */
    function old() {  
    }
        </pre>

        <h4>@desc</h4>
        <p><a href="http://usejsdoc.org/tags-description.html">@desc</a> 用来描述信息的</p>
        <pre>
    //不用标签直接在开头描述
    /**
     * Add two numbers.
     * @param {number} a
     * @param {number} b
     * @returns {number}
     */
    function add(a, b) {
        return a + b;
    }

    //使用标签可以放在任意位置
    /**
     * @param {number} a
     * @param {number} b
     * @returns {number}
     * @desc Add two numbers.
     */
    function add(a, b) {
        return a + b;
    }
        </pre>

        <h4>@enum</h4>
        <p><a href="http://usejsdoc.org/tags-enum.html">@enum</a> 枚举数据的</p>
        <pre>
    /**
     * Enum for tri-state values.
     * @readonly
     * @enum {number}
     */
    var triState = {
        /** The true value */
        TRUE: 1,
        FALSE: -1,
        /** @type {boolean} */
        MAYBE: true
    };
        </pre>

        <h4>@event</h4>
        <p><a href="http://usejsdoc.org/tags-event.html">@event</a> 用来声明事件的，而 @fires 标签可以指定触发该事件的行为。语法 @event &lt;className&gt;#[event:]&lt;eventName&gt;</p>
        <pre>
    /**
     * Throw a snowball.
     *
     * @fires Hurl#snowball
     */
    Hurl.prototype.snowball = function() {
        /**
         * Snowball event.
         *
         * @event Hurl#snowball
         * @type {object}
         * @property {boolean} isPacked - Indicates whether the snowball is tightly packed.
         */
        this.emit('snowball', {
            isPacked: this._snowball.isPacked
        });
    };
        </pre>

        <h4>@example</h4>
        <p><a href="http://usejsdoc.org/tags-example.html">@example</a> 用来注释一个或多个例子，帮助其他人使用。@example可以用caption指定标题</p>
        <pre>
    /**
     * Solves equations of the form a * x = b
     * @example &lt;caption&gt;Example usage of method1.&lt;/caption&gt;
     * // returns 2
     * globalNS.method1(5, 10);
     * @example
     * // returns 3
     * globalNS.method(5, 15);
     * @returns {Number} Returns the value of x for the equation.
     */
    globalNS.method1 = function (a, b) {
        return b / a;
    };
        </pre>

        <h4>@exports</h4>
        <p><a href="http://usejsdoc.org/tags-exports.html">@exports</a> 用在模块化 module 中，如果代码中有exports关键字则不需要 @exports标签</p>
        <pre>
    /**
     * A module that says hello!
     * @module hello/world
     */

    /** Say hello. */
    exports.sayHello = function() {
        return 'Hello world';
    };

    define(function () {
        /**
         * A module that says hello!
         * @exports hello/world
         */
        var ns = {};
        
        /** Say hello. */
        ns.sayHello = function() {
            return 'Hello world';
        };

        return ns;
    });
        </pre>

        <h4>@external</h4>
        <p><a href="http://usejsdoc.org/tags-external.html">@external</a> 引用外部资源，比如url等</p>
        <pre>
    /**
     * The built in string object.
     * @external String
     * @see {@link https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/String String}
     */

    /**
     * Adds a new method to the built-in string.
     * @function external:String#rot13
     * @example
     * var greeting = new String('hello world');
     * console.log( greeting.rot13() ); // uryyb jbeyq
     */

    /**
     * The jQuery plugin namespace.
     * @external "jQuery.fn"
     * @see {@link http://docs.jquery.com/Plugins/Authoring The jQuery Plugin Guide}
     */

    /**
     * A jQuery plugin to make stars fly around your home page.
     * @function external:"jQuery.fn".starfairy
     */
        </pre>

        <h4>@file</h4>
        <p><a href="http://usejsdoc.org/tags-file.html">@file</a> 用来描述文件信息的</p>
        <pre>
    /**
     * @file Manages the configuration settings for the widget.
     * @author Rowina Sanela &lt;rsanela@example.com&gt;
     */
        </pre>
        <h4>@fires</h4>
        <p><a href="http://usejsdoc.org/tags-fires.html">@fires</a> 用来指明触发的事件</p>
        <pre>
    /**
     * Drink the milkshake.
     *
     * @fires Milkshake#drain
     */
    Milkshake.prototype.drink = function() {
        // ...  
    };
        </pre>
        <p>上面例子中调用 Milkshake.prototype.drink 会触发Milkshake#drain的</p>

        <h4>@global</h4>
        <p><a href="http://usejsdoc.org/tags-global.html">@global</a> 用来指明全局变量。</p>
        <pre>
    (function() {
        /** @global */
        var foo = 'hello foo';

        this.foo = foo;
    }).apply(window);
        </pre>

        <h4>@ignore</h4>
        <p><a href="http://usejsdoc.org/tags-ignore.html">@ignore</a> 指定忽略的代码。</p>

        <h4>@inner</h4>
        <p><a href="http://usejsdoc.org/tags-inner.html">@inner</a> 用来标明是一个内部方法或属性</p>
        <pre>
    /** @namespace */
    var MyNamespace = {
        /**
         * foo is now MyNamespace~foo rather than MyNamespace.foo.
         * @inner
         */
        foo: 1
    };
        </pre>

        <h4>@instance</h4>
        <p><a href="http://usejsdoc.org/tags-instance.html">@instance</a> 指明该属性是一个实例化的对象</p>
        <pre>
    /** @namespace */
    var BaseObject = {
        /**
         * foo is now BaseObject#foo rather than BaseObject.foo.
         * @instance
         */
        foo: null
    };
    /** Generates BaseObject instances. */
    function fooFactory(fooValue) {
        var props = { foo: fooValue };
        return Object.create(BaseObject, props);
    }
        </pre>

        <h4>@kind</h4>
        <p><a href="http://usejsdoc.org/tags-kind.html">@kind</a> 用来设置标签种类的，跟直接使用这些种类效果是一样的。种类包括以下：</p>
        <ul>
          <li>class</li>
        </ul>
        <ul>
          <li>constant</li>
        </ul>
        <ul>
          <li>event</li>
        </ul>
        <ul>
          <li>external</li>
        </ul>
        <ul>
          <li>file</li>
        </ul>
        <ul>
          <li>function</li>
        </ul>
        <ul>
          <li>member</li>
        </ul>
        <ul>
          <li>mixin</li>
        </ul>
        <ul>
          <li>module</li>
        </ul>
        <ul>
          <li>namespace</li>
        </ul>
        <ul>
          <li>typedef</li>
        </ul>
        <pre>
    // The following examples produce the same result:

    /**
     * A constant.
     * @kind constant
     */
    const asdf = 1;

    /**
     * A constant.
     * @constant
     */
    const asdf = 1;
        </pre>

        <h4>@lends</h4>
        <p><a href="http://usejsdoc.org/tags-lends.html">@lends</a> 用来指明 object 字面 方法</p>
        <pre>
    /** @class */
    var Person = makeClass(
        /** @lends Person */
        {
            initialize: function(name) {
                this.name = name;
            },
            say: function(message) {
                return this.name + " says: " + message;
            }
        }
    );
        </pre>

        <h4>@license</h4>
        <p><a href="http://usejsdoc.org/tags-license.html">@license</a> 设置license信息</p>

        <h4>@link</h4>
        <p><a href="http://usejsdoc.org/tags-link.html">@link</a> 内部链接，语法有以下几种</p>
        <p>
          {@link someSymbol}<br />
          {@link http://some.url.com}<br />
          [caption here]{@link someSymbol}<br />
          [caption here]{@link http://some.url.com}<br />
          {@link someSymbol|caption here}<br />
          {@link http://some.url.com|caption here}<br />
          {@link http://some.url.com Caption Here (after the first space)}<br />
          {@link someSymbol Caption Here (after the first space)}
        </p>
        <pre>
    /** See {@link MyClass} and [MyClass's foo property]{@link MyClass#foo}.
     * Also check out {@link http://www.google.com|google} and {@link http://github.com Github}.
     */
    function myFunction() {}

    /** A class.
     * @class */
    function MyClass() {
        /** foo property */
        this.foo = 1;
    }
        </pre>

        <h4>@member</h4>
        <p><a href="http://usejsdoc.org/tags-member.html">@member</a> 标明成员的类型，名称等。与@var和@type可以结合使用</p>
        <pre>
    /** @class */
    function Data() {
        /** @member {Object} */
        this.point = {};
    }

    /**
     * A variable in the global namespace called 'foo'.
     * @var {number} foo
     */

    /**
     * A variable in the global namespace called 'foo'.
     * @type {number}
     */
    var foo;
        </pre>

        <h4>@memberof</h4>
        <p><a href="http://usejsdoc.org/tags-memberof.html">@memberof</a> 用来指定是属于按个父 tag的</p>
        <pre>
    /** @namespace */
    var Tools = {};

    /** @memberof Tools */
    var hammer = function() {
    };

    Tools.hammer = hammer;
        </pre>

        <h4>@method</h4>
        <p><a href="http://usejsdoc.org/tags-method.html">@method</a> 用来指定是一个方法，与 @function 和 @func 类似</p>
        <pre>
    /** @function */
    var paginate = paginateFactory(pages);
        </pre>

        <h4>@mixes</h4>
        <p><a href="http://usejsdoc.org/tags-mixes.html">@mixes</a> tag indicates that the current object mixes in all the members from OtherObjectPath, which is a @mixin. </p>
        <p> To start, we document a mixin with the @mixin tag:

          Example of a @mixin</p>
        <pre>
    /**
     * This provides methods used for event handling. It's not meant to
     * be used directly.
     *
     * @mixin
     */
    var Eventful = {
        /**
         * Register a handler function to be called whenever this event is fired.
         * @param {string} eventName - Name of the event.
         * @param {function(Object)} handler - The handler to call.
         */
        on: function(eventName, handler) {
            // code...
        },
       
        /**
         * Fire an event, causing all handlers for that event name to run.
         * @param {string} eventName - Name of the event.
         * @param {Object} eventData - The data provided to each handler.
         */
        fire: function(eventName, eventData) {
            // code...
        }
    };
        </pre>
        <p>
          Now we add a FormButton class and call a "mix" function that mixes all of the Eventful functions into FormButton, so that FormButton can also fire events and have listeners. We use the @mixes tag to indicate that FormButton mixes the Eventful functions.
        </p>
        <p>Using the @mixes tag
        </p>
        <pre>
    /**
     * @constructor FormButton
     * @mixes Eventful
     */
    var FormButton = function() {
        // code...
    };
    FormButton.prototype.press = function() {
      this.fire('press', {});
    }
    mix(Eventful).into(FormButton.prototype);
        </pre>

        <h4>@mixin</h4>
        <p><a href="http://usejsdoc.org/tags-mixin.html">@mixin</a> （参见上例）</p>

        <h4>@module</h4>
        <p><a href="http://usejsdoc.org/tags-module.html">@module</a> 用来定义模块化的，语法 @module [[{&lt;type&gt;}] &lt;ModuleName&gt;]</p>
        <pre>
    /** @module myModule */

    /** will be module:myModule~foo */
    var foo = 1;

    /** will be module:myModule.bar */
    var bar = function() {};
        </pre>

        <h4>@name</h4>
        <p><a href="http://usejsdoc.org/tags-name.html">@name</a> 标识代码的名称，通常用@alias代替</p>
        <pre>
    /**
     * @name highlightSearchTerm
     * @function
     * @global
     * @param {string} term - The search term to highlight.
     */
    eval("window.highlightSearchTerm = function(term) {};")
        </pre>

        <h4>@namespace</h4>
        <p><a href="http://usejsdoc.org/tags-namespace.html">@namespace</a> 用来定义命名空间的。语法 @namespace [[{&lt;type&gt;}] &lt;SomeName&gt;]</p>
        <pre>
    /**
     * My namespace.
     * @namespace
     */
    var MyNamespace = {
        /** documented as MyNamespace.foo */
        foo: function() {},
        /** documented as MyNamespace.bar */
        bar: 1
    };
        </pre>

        <h4>@param</h4>
        <p><a href="http://usejsdoc.org/tags-param.html">@param</a> 用来声明参数的</p>
        <pre>
    /**
     * @param {string} somebody
     */
    function sayHello(somebody) {
        alert('Hello ' + somebody);
    }
        </pre>

        <h4>@private @protected @public</h4>
        <p><a href="http://usejsdoc.org/tags-private.html">@private</a> 、<a href="http://usejsdoc.org/tags-protected.html">@protected</a>和<a href="http://usejsdoc.org/tags-public.html">@public</a>
          用来指明 是私有、受保护的和公有的。
        </p>

        <h4>@property</h4>
        <p><a href="http://usejsdoc.org/tags-property.html">@property</a> 用来指明类的静态属性，对象属性等</p>
        <pre>
    /**
     * @namespace
     * @property {object}  defaults               - The default values for parties.
     * @property {number}  defaults.players       - The default number of players.
     * @property {string}  defaults.level         - The default level for the party.
     * @property {object}  defaults.treasure      - The default treasure.
     * @property {number}  defaults.treasure.gold - How much gold the party starts with.
     */
    var config = {
        defaults: {
            players: 1,
            level:   'beginner',
            treasure: {
                gold: 0
            }
        }
    };
        </pre>

        <h4>@readonly</h4>
        <p><a href="http://usejsdoc.org/tags-readonly.html">@readonly</a> 指明该属性或方法是只读的</p>
        <pre>
    /**
     * Options for ordering a delicious slice of pie.
     * @namespace
     */
    var pieOptions = {
        /**
         * Plain.
         */
        plain: 'pie',
        /**
         * A la mode.
         * @readonly
         */
        get aLaMode() {
            return this.plain + ' with ice cream';
        }
    };
        </pre>

        <h4>@requires</h4>
        <p><a href="http://usejsdoc.org/tags-requires.html">@requires</a> 指定需要的方法或属性或类等</p>
        <pre>
    /**
     * This class requires the modules {@link module:xyzcorp/helper} and
     * {@link module:xyzcorp/helper.ShinyWidget#polish}.
     * @class
     * @requires module:xyzcorp/helper
     * @requires xyzcorp/helper.ShinyWidget#polish
     */
    function Widgetizer() {}
        </pre>

        <h4>@returns</h4>
        <p><a href="http://usejsdoc.org/tags-returns.html">@returns</a> 返回信息</p>
        <pre>
    /**
     * Returns the sum of a and b
     * @param {Number} a
     * @param {Number} b
     * @returns {Number} Sum of a and b
     */
    function sum(a, b) {
        return a + b;
    }
        </pre>

        <h4>@see</h4>
        <p><a href="http://usejsdoc.org/tags-see.html">@see</a> 可以参看相关标签或其他链接</p>
        <pre>
    /**
     * Both of these will link to the bar function.
     * @see {@link bar}
     * @see bar
     */
    function foo() {}

    // Use the inline {@link} tag to include a link within a free-form description.
    /**
     * @see {@link foo} for further information.
     * @see {@link http://github.com|GitHub}
     */
    function bar() {}
        </pre>

        <h4>@since</h4>
        <p><a href="http://usejsdoc.org/tags-since.html">@since</a> 指定该属性、对象或方法等从哪个版本中开始有的。</p>
        <pre>
    /**
     * Provides access to user information.
     * @since 1.0.1
     */
    function UserRecord() {}
        </pre>

        <h4>@static</h4>
        <p><a href="http://usejsdoc.org/tags-static.html">@static</a> 指明是静态的，即不需要实例化就可以访问。</p>
        <pre>
    /** @module Rollerskate */

    /**
     * The 'wheel' variable is documented as Rollerskate.wheel
     * rather than Rollerskate~wheel.
     * @static
     */
    var wheel = 1;
        </pre>

        <h4>@summary</h4>
        <p><a href="http://usejsdoc.org/tags-summary.html">@summary</a> 版本信息的简短描述</p>
        <pre>
    /**
     * A very long, verbose, wordy, long-winded, tedious, verbacious, tautological,
     * profuse, expansive, enthusiastic, redundant, flowery, eloquent, articulate,
     * loquacious, garrulous, chatty, extended, babbling description.
     * @summary A concise summary.
     */
    function bloviate() {}
        </pre>

        <h4>@this</h4>
        <p><a href="http://usejsdoc.org/tags-this.html">@this</a> 指定属于哪个scope</p>
        <pre>
    //In the following example, the @this tag causes "this.name" to be documented as "Greeter#name" rather than a global symbol called "name".
    /** @constructor */
    function Greeter(name) {
        setName.apply(this, name);
    }

    /** @this Greeter */
    function setName(name) {
        /** document me */
        this.name = name;
    }
        </pre>

        <h4>@throws</h4>
        <p><a href="http://usejsdoc.org/tags-throws.html">@throws</a> 表明当有异常时会抛出错误</p>
        <pre>
    /**
     * @throws {InvalidArgumentException}                                          
     */                                                           
    function foo(x) {}
        </pre>

        <h4>@todo</h4>
        <p><a href="http://usejsdoc.org/tags-todo.html">@todo</a> 用来标示将来需要完成的代码</p>
        <pre>
    /**
     * @todo Write the documentation.
     * @todo Implement this function.
     */
    function foo() {
        // write me
    }
        </pre>

        <h4>@tutorial</h4>
        <p><a href="http://usejsdoc.org/tags-tutorial.html">@tutorial</a> 他会插入一个链接指向教程文件提供的文档</p>
        <p>In the following example, the documentation for MyClass will link to the tutorials that have the identifiers tutorial-1 and tutorial-2:</p>
        <pre>
    /**
     * Description
     * @class
     * @tutorial tutorial-1
     * @tutorial tutorial-2
     */
    function MyClass() {}
        </pre>

        <h4>@type</h4>
        <p><a href="http://usejsdoc.org/tags-type.html">@type</a> 指定是属于那种类型的</p>
        <pre>
    /** @type {(string|Array.&lt;string&gt;)} */
    var foo;
    /** @type {number} */
    var bar = 1;
        </pre>

        <h4>@typedef</h4>
        <p><a href="http://usejsdoc.org/tags-typedef.html">@typedef</a> 用来定义一组类型，指定其名称，这样其他标签就可以引用该名称，表示是这一定义的类型</p>
        <pre>
    /**
     * A number, or a string containing a number.
     * @typedef {(number|string)} NumberLike
     */

    /**
     * Set the magic number.
     * @param {NumberLike} x - The magic number.
     */
    function setMagicNumber(x) {
    }
        </pre>

        <h4>@variation</h4>
        <p><a href="http://usejsdoc.org/tags-variation.html">@variation</a> 用来区别具有相同名称定义的标签</p>
        <pre>
    /**
     * The Widget namespace.
     * @namespace Widget
     */

    // you can also use '@class Widget(2)' and omit the @variation tag
    /**
     * The Widget class. Defaults to the properties in {@link Widget.properties}.
     * @class
     * @variation 2
     * @param {Object} props - Name-value pairs to add to the widget.
     */
    function Widget(props) {}

    /**
     * Properties added by default to a new {@link Widget(2)} instance.
     */
    Widget.properties = {
        /**
         * Indicates whether the widget is shiny.
         */
        shiny: true,
        /**
         * Indicates whether the widget is metallic.
         */
        metallic: true
    };
        </pre>

        <h4>@version</h4>
        <p><a href="http://usejsdoc.org/tags-version.html">@version</a> 说明版本信息</p>
        <pre>
    /**
     * Solves equations of the form a * x = b. Returns the value
     * of x.
     * @version 1.2.3
     * @tutorial solver
     */
    function solver(a, b) {
        return b / a;
    }
        </pre>
      </div>
      
      
      <h3 paragraph>JSDoc 模板（也称为主题）的定制</h3>
      <div>
        
      </div>
    </div>
  </body>
</html>