<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>JavaScript调试</title>
        <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>
    </head>
    <body>
        <div class="h-web-paragraph">
            <p>
                <a href="doc/Firebug调试技巧.docx">Firebug调试技巧</a>
            </p>
        </div>
    </body>
</html>