<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Web 学习参考资料</title>
        <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
        <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>
    </head>
    <body>
        <style type="text/css">
            .h-web-paragraph {
                counter-reset: sub1_section;
            }
            .h-web-paragraph h4:before{
                content: counter(sub1_section) " ";
            }
        </style>
        <div class="h-web-paragraph">
            <h4>参考书籍</h4>
            <p><a href="51CTO下载-精通CSS：高级Web标准解决方案（第2版）.pdf">51CTO下载-精通CSS：高级Web标准解决方案（第2版）</a> 强力推荐阅读</p>
            <h4>网上资料</h4>
            <p>首先说明一下，以下参考资料不一定是最好的。我们可以根据个人爱好以及发展方向阅读其中的内容。</p>
            <p><a href="http://javascript.ruanyifeng.com/">JavaScript 标准参考教程</a>，<span class="h-web-font-red">阮一峰写的教程，非常不错</span>。</p>
            <p><a href="http://www.swordair.com/blog/">葵中剑's Blog</a> 主要介绍了一些web前端知识。</p>
            <p><a href="http://www.w3.org/html/ig/zh/wiki/Main_Page">W3C 中文规范</a> 主要翻译了
                <a href="http://www.w3.org/">W3C官方</a>的部分文档。</p>
            <p><a href="http://www.ruanyifeng.com/home.html">阮一峰的个人网站</a> 他写的博客分为英文和中文，涵盖的知识面比较广，
                我们可以只读他写的关于web前端的东西。</p>
            <p><a href="http://www.iteye.com/news/28171">增强Web可用性，你需要避免的 7 大设计错误</a></p>
            <p><a href="http://caniuse.com/">各大浏览器对Web前端技术支持性统计</a></p>
            <p><a href="http://www.iteye.com/news/27740">10 款超棒的 CSS/JavaScript 前端特效（第2波）</a></p>
            <p><a href="http://www.oschina.net/news/37210/web-design-trends-for-2013">20个2013年最值得关注的网页设计趋势</a></p>
            
            <h4>Web工具汇总</h4>
            <p><a href="http://www.iteye.com/news/26572">Web工程师必备的在线工具箱</a></p>
            <p><a href="http://www.qianduan.net/">前端观察</a></p>
            <p><a href="http://www.iteye.com/news/28185">如何才能运作好一个开源项目？</a></p>
        </div>
    </body>
</html>
