<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Angular 学习</title>
    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript">
              $(function() {
              $('.h-web-catalogue li a').click(function(e) {
              e.preventDefault();
                      var paragraphNum,
                      paragraph,
                      offset;
                      var el = this;
                      $(this).closest('ol').find('li a').each(function(index, element) {
              if (this === el) {
              paragraphNum = index;
                      return false;
              }
              });
                      paragraph = $('.h-web-paragraph h3[paragraph]').eq(paragraphNum);
                      offset = paragraph.offset();
                      if (offset) {
              $(window).scrollTop(offset.top);
              }
              });
                      //初始化内容折叠事件
                      $('.h-web-paragraph').on('click', 'h3[paragraph]', function(e) {
              $(this).next().toggle();
              });
                      //SyntaxHighlighter
                      $('pre').replaceWith(function() {
              var html = '<pre type="syntaxhighlighter" class="brush: js; html-script: true; quick-code: false; toolbar : false" >';
                      html += $(this).html();
                      html += '</pre>';
                      return html;
              });
                      SyntaxHighlighter.highlight();
              });</script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li>
        <a paragraph href="#">Angular 介绍</a>
      </li>
      <li>
        <a paragraph href="#">Angular 例子</a>
      </li>
      <li>
        <a paragraph href="#">Angular 注意事项</a>
        <ol class="h-web-catalogue2">
          <li>
            <a href="#">浏览器支持</a>
          </li>
          <li>
            <a href="#">使用 ng 时不要冒然去改变相关 DOM 的结构</a>
          </li>
          <li>
            <a href="#">AngularJS 命名空间</a>
          </li>
        </ol>
      </li>
      <li>
        <a paragraph href="#">Angular 学习笔记</a>
        <ol class="h-web-catalogue2">
          <li>
            <a href="#">AngularJS 常用指令（API）</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#">显示文本（ng-bind）</a>
              </li>
              <li>
                <a href="#">绑定html内容（ng-bind-html 和 ng-bind-html-unsafe,version1.2.0中已删除该指令）</a>
              </li>
              <li>
                <a href="#">表单输入(ng-model，数据双向绑定)</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#">表单元素的用法</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#">form</a>
              </li>
              <li>
                <a href="#">input，textarea 的用法</a>
              </li>
              <li>
                <a href="#">input checkbox的用法</a>
              </li>
              <li>
                <a href="#">input radio 的用法</a>
              </li>
              <li>
                <a href="#">select 的用法</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#">几个主要概念的理解</a>
          </li>
          <li>
            <a href="#">模板和数据绑定</a>
          </li>
          <li>
            <a href="#">列表, 表格和其他重复的元素</a>
          </li>
          <li>
            <a href="#">隐藏与显示</a>
          </li>
          <li>
            <a href="#">CSS类和样式</a>
          </li>
          <li>
            <a href="#">src和href属性注意事项</a>
          </li>
          <li>
            <a href="#">表达式</a>
          </li>
          <li>
            <a href="#">使用$watch监控模型变化</a>
          </li>
          <li>
            <a href="#">使用过滤器格式化数据</a>
          </li>
          <li>
            <a href="#">学习angular技巧</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#">在终端控制台调试</a>
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>

    <div class="h-web-paragraph">
      <h3 paragraph>Angular 介绍</h3>
      <div>
        <p>Angular 是一个为动态WEB应用设计的结构框架。它能让你使用HTML作为模板语言，通过扩展HTML的语法，让你能更清楚、简洁地构建你的应用组件。它的创新点在于，利用 <strong>数据绑定</strong> 和 <strong>依赖注入</strong>，它使你不用再写大量的代码了。这些全都是通过浏览器端的Javascript实现，这也使得它能够完美地和任何服务器端技术结合。</p>
        <p>Angular 是为了克服HTML在构建应用上的不足而设计的。HTML是一门很好的为静态文本展示设计的声明式语言，但要构建WEB应用的话它就显得乏力了。所以我做了一些工作（你也可以觉得是小花招）来让浏览器做我想要的事。</p>
        <p><a href="http://angularjs.org/">官网</a></p>
        <p><a href="http://www.angularjs.cn/">中文社区</a></p>
        <p><a href="http://angular-ui.github.io/">Angular UI</a></p>
      </div>
      <h3 paragraph>Angular 例子</h3>
      <div>
        <p><a href="./angular/examples/myExamples/demo1.html">入门例子</a></p>
      </div>
      <h3 paragraph>Angular 注意事项</h3>
      <div>
        <h4>浏览器支持</h4>
        <p>
          对 IE 方面，它兼容 IE8 及以上的版本。
        </p>
        <h4>使用 ng 时不要冒然去改变相关 DOM 的结构</h4>
        <h4>AngularJS 命名空间</h4>
        <p>为了防止意外的命名冲突， AngularJS为可能冲突的对象名加以前缀"$"。所以请不要在你自己的代码里用"$"做前缀，以免和AngularJS代码发生冲突。
          所以以$为前缀的对象都是Angular本身定义的对象。
        </p>
      </div>
      <h3 paragraph>Angular 学习笔记</h3>
      <div>
        <h4>数据与模板相关指令</h4>
        <h5>显示文本（ng-bind）</h5>
        <p>我们可以使用ng-bind指令在UI的任何地方显示和更新文本，也可以使用双花括号形式来绑定文本。</p>
        <p>双花括号形式例子：</p>
        <pre>    &lt;p&gt;{{greeting}}&lt;/p&gt;  </pre>
        <p>使用ng-bind基于属性的指令例子：</p>
        <pre>    &lt;p ng-bind="greeting"&gt;&lt;p&gt;  </pre>
        <p>这两者的输出是等价的。 如果模型中的变量greeting设置为"Hi, there", Angular将生成这样的HTML：</p>
        <pre>    &lt;p&gt;Hi, there&lt;/p&gt;  </pre>
        <p>浏览器将显示"Hi, There"。</p>
        <p>一般情况下我们使用双花括号的形式，这样读起来更加方便自然。但有时页面在开始的时候加载模板内容，这样就会先显示双花括号，等Angular解析完后再显示实际的值，
          这会造成用户体验差，这时我们就可以用指令的方式，使之开始什么都不显示。当然还有一种方式就是开始的时候隐藏模板内容，等Angular解析完后再动态显示（可以利用jQuery来完成操作）。
        </p>
        <p>这里需要注意的是：{{expression}}只作为显示值来用，而不能作为字符串和html拼接 。听起来不太明白，还是看例子吧，以下用法是错误的（在1.0.8版本中测试）。</p>
        <pre>
          &lt;input {{expression}} /&gt;
        </pre>
        <p>正确的用法应该是</p>
        <pre>
          &lt;input attribute="{{expression}}" /&gt;
        </pre>
        <p>以下是一个完整的例子</p>
        <pre>
 &lt;!DOCTYPE html&gt;
 &lt;html ng-app="ngBindDemo"&gt;
   &lt;head&gt;
     &lt;meta charset="utf-8"&gt;
     &lt;title&gt;ng-bind demo &lt;/title&gt;
   &lt;/head&gt;
   &lt;body ng-controller="ngBindDemoController"&gt;
     &lt;input ng-model='greeting.text' /&gt;
     &lt;p&gt;{{greeting.text}}, World &lt;/p&gt;
     &lt;p&gt;以下用法是错误的 &lt;/p&gt;
     &lt;input name="wrong" style="border: 1px solid #ED2754;" {{attribute}}/&gt;
     &lt;script type="text/javascript" src="../../angular.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript"&gt;
        //创建一个app，并在该app下创建一个controller
        angular.module('ngBindDemo', []).controller('ngBindDemoController', ['$scope', function($scope) {
            $scope.greeting = {
              text: 'Hello'
            };
          }]);
     &lt;/script&gt;
   &lt;/body&gt;
 &lt;/html&gt;
        </pre>
        <p><a href="./angular/examples/myExamples/ng-bind-demo.html">运行效果</a></p>

        <h5>绑定html内容（ng-bind-html 和 ng-bind-html-unsafe,version1.2.0中已删除该指令）</h5>
        <p>angular提供了这两个指令通过innerHTML来给指定的元素设置内容。ng-bind-html会调用angular提供的  <a href="http://code.angularjs.org/1.0.8/docs/api/ngSanitize.$sanitize">$sanitize</a>（$sanitize(html);）过滤后再赋给innerHTML，而 ng-bind-html-unsafe不会处理直接赋给innerHTML，当确保提供的html片段是安全的，我们可以用ng-bind-html-unsafe。</p>
        <p class="h-web-font-red">注意：使用ng-bind-html指令时，需要引入文件angular-sanitize.js，并且要把 "ngSanitize" 加入到相应的module中。</p>
        <pre>
   angular.module('app', ['ngSanitize']);
        </pre>
        <p>下面是官方提供的例子（有修改）：</p>
        <pre>     
&lt;!doctype html&gt;
&lt;html ng-app="ngBindHtmlDemoApp"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;ng-bind-html and ng-bind-html-unsafe demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div ng-controller="ngBindHtmlDemoCtrl"&gt;
      Snippet: &lt;textarea ng-model="snippet" cols="60" rows="3"&gt;&lt;/textarea&gt;
      &lt;table style="border: 1px solid #005B73;"&gt;
        &lt;tr&gt;
          &lt;td&gt;Filter&lt;/td&gt;
          &lt;td&gt;Source&lt;/td&gt;
          &lt;td&gt;Rendered&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr id="html-filter"&gt;
          &lt;td&gt;html filter&lt;/td&gt;
          &lt;td&gt;
            &lt;pre&gt;&lt;div ng-bind-html="snippet"&gt;&lt;br/&gt;&lt;/div&gt;&lt;/pre&gt;
          &lt;/td&gt;
          &lt;td&gt;
            &lt;div ng-bind-html="snippet"&gt;&lt;/div&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr id="html-filter"&gt;
          &lt;td&gt;AngularJS Google Group提供的利用指令实现同样的过滤效果&lt;/td&gt;
          &lt;td&gt;
            &lt;pre&gt;&lt;div html-title="snippet" &gt;&lt;br/&gt;&lt;/div&gt;&lt;/pre&gt;
          &lt;/td&gt;
          &lt;td&gt;
            &lt;div  html-title="{{snippet}}"&gt;&lt;/div&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr id="escaped-html"&gt;
          &lt;td&gt;no filter&lt;/td&gt;
          &lt;td&gt;&lt;pre&gt;&lt;div ng-bind="snippet"&gt;&lt;br/&gt;&lt;/div&gt;&lt;/pre&gt;&lt;/td&gt;
          &lt;td&gt;&lt;div ng-bind="snippet"&gt;&lt;/div&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr id="html-unsafe-filter"&gt;
          &lt;td&gt;unsafe html filter&lt;/td&gt;
          &lt;td&gt;&lt;pre&gt;&lt;div ng-bind-html-unsafe="snippet"&gt;&lt;br/&gt;&lt;/div&gt;&lt;/pre&gt;&lt;/td&gt;
          &lt;td&gt;&lt;div ng-bind-html-unsafe="snippet"&gt;&lt;/div&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/table&gt;
    &lt;/div&gt;
    &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" src="../../angular-sanitize.js"&gt;&lt;/script&gt;

    &lt;script type="text/javascript"&gt;
            //创建一个app，并在该app下创建一个controller
            angular.module('ngBindHtmlDemoApp', ['ngSanitize']).controller('ngBindHtmlDemoCtrl', ['$scope', function($scope) {
                $scope.snippet =
                        '&lt;p style="color:blue"&gt;an html\n' +
                        '&lt;em onmouseover="this.textContent=\'PWN3D!\'" onmouseout="this.textContent=\'the mouse over\'"&gt;the mouse over&lt;/em&gt;\n' +
                        'snippet&lt;/p&gt;';
              }]).directive('htmlTitle', function($sanitize) {
              return {
                restrict: 'A',
                link: function(scope, element, attrs) {
                  attrs.$observe('htmlTitle', function(title) {
                    // convert &value; to HTML
                    var html = angular.element('&lt;div&gt;&lt;/div&gt;').html($sanitize(title)).text();
                    element.attr('title', html);
                    element.html(html);
                  });
                }
              };
            });
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </pre>  

        <p><a href="./angular/examples/myExamples/ng-bind-html-demo.html">运行效果</a></p>

        <h5>表单输入(ng-model，数据双向绑定)</h5>
        <p>在Angular中处理表单元素是很简单的，只需使用ng-model属性绑定到你的模型属性元素上即可。
          ng-model适用于所有标准的表单元素, 例如文本输入框, 单选按钮, 复选框等等。我们可以像这样绑定一个复选框：</p>
        <pre>    &lt;form controller="SomeController"&gt;
          &lt;input type="checkbox" ng-model="youCheckedIt"&gt;
    &lt;/form&gt;  </pre>
        <p>这意味着：</p>
        <ol>
          <li>当用户选择复选框, SomeController的$scope中一个名为youCheckedIt的属性将变成true。取消选择时使youCheckedIt变成false。</li>
          <li>如果你在SomeController中设置$scope.youCheckedIt为true， 这个复选框在UI中会被自动选择。设置它为false则取消选择。</li>
        </ol>
        <p>我们也可以在form表单上注册一些事件，比如change，click等，例如：</p>
        <pre>&lt;form ng-controller="StartUpController"&gt;
      Starting: &lt;input ng-change="computeNeeded()" ng-model="funding.startingEstimate"&gt;
      Recommendation: {{funding.needed}}
&lt;/form&gt;
function StartUpController($scope){
      $scope.funding = { startingEstimate: 0 };
      $scope.computeNeeded = function(){
        $scope.needed = $scope.startingEstimate * 10;
    };
}</pre>

        <p>以下是一个完整的例子：</p>
        <pre>
&lt;!DOCTYPE html&gt;
&lt;html ng-app="ngModelDemo"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;ng-model demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body ng-controller="ngModelDemoController"&gt;
    &lt;form&gt;
      &lt;div style="border: 1px solid #0060BF;padding: 10px; width: 300px;"&gt;
        Starting: &lt;input ng-change="computeNeeded()" ng-model="funding.startingEstimate"&gt;
        Recommendation: {{funding.needed}}
      &lt;/div&gt;
      &lt;div style="border: 1px solid #007788;margin-top: 10px;padding: 10px; width: 300px;"&gt;
        多选框： &lt;input type="checkbox" ng-model="youCheckedIt" /&gt;
        &lt;br /&gt;
        checkbox选择情况：{{youCheckedIt}}
      &lt;/div&gt;
    &lt;/form&gt;

    &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
      //创建一个app，并在该app下创建一个controller
      angular.module('ngModelDemo', []).controller('ngModelDemoController', ['$scope', function($scope) {
          $scope.funding = {startingEstimate: 0};
          $scope.computeNeeded = function() {
            $scope.funding.needed = $scope.funding.startingEstimate * 10;
          };
          $scope.youCheckedIt = false;
        }]);
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </pre>
        <p><a href="./angular/examples/myExamples/ng-model-demo.html">运行效果</a></p>

        <h5>ngList指令</h5>
        <p>该指令能把array转换为字符串，默认字符串的拼接用逗号（,），该指令类似于array的join方法</p>

        <p>注意：<span class="h-web-font-red">该指令只能和ngModel配合使用，也就是说只能用在input等表单元素上。</span></p>
        <p>对于嵌套数组也会解析的，只是内层解析后 ,后面没有空格，不知道这是不是angular的一个bug。还有对于数组中的对象元素，会调用toString()方法</p>
        <pre>
&lt;!DOCTYPE html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;ng-list demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body &gt;
    &lt;form name="myForm" ng-controller="Ctrl"&gt;
      &lt;div&gt;
        List: &lt;input name="namesInput" ng-model="names" ng-list /&gt;
      &lt;/div&gt;
      &lt;div style="margin-top:10px;"&gt;
        List(如果ng-model的值为非数组则返回空): &lt;input name="namesInput2" ng-model="namesStr" ng-list /&gt;
      &lt;/div&gt;
      &lt;div style="margin-top:10px;"&gt;
        List(嵌套数组): &lt;input name="namesInput3" ng-model="nestedArray" ng-list size="100" /&gt;
      &lt;/div&gt;

      &lt;div style="margin-top:10px;"&gt;
        List(没有设置ng-model会报错): &lt;input name="namesInput4" ng-list /&gt;
      &lt;/div&gt;
    &lt;/form&gt;
    &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
          function Ctrl($scope) {
            $scope.names = ['igor', 'misko', 'vojta'];
            $scope.namesStr = 'string';
            $scope.nestedArray = [['igor', 'misko', new Date(), ['inner1', 'inner2'],{}], 'igor', 'misko', 'vojta'];
          }
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;          
        </pre>

        <p><a href="./angular/examples/myExamples/ng-list-demo.html">运行效果</a></p>

        <h5>ngValue指令</h5>
        <p>该指令主要用来设置input，select初始值，该指令与ng-model和ng-repeat结合使用</p>
        <p><a href="./angular/examples/myExamples/ng-value-demo.html">点击查看例子</a></p>

        <h5>ngInit指令</h5>
        <p>该指令用来给变量赋初始值，理解起来比较简单，直接看例子吧。</p>
        <p><a href="./angular/examples/myExamples/ng-init-demo.html">点击查看例子</a></p>


        <h5>ngCloak</h5>
        <p>该指令是介于ngBind和ngBindHtml之间的，如果我们用{{}}来处理页面显示数据，就会在页面加载的初始显示没有编译的{{}}，angular编译后显示相应的值，这样用户体验效果差些。
          为了避免这种不好的体验效果，angular提供了一个指令ngCloak，该指令是用class来控制的，当没有编译前，如果包含了ngCloak指令时，该元素（包括他的子节点）隐藏，编译后删除class来显示。
          用到的class在angular.js中已集成。
        </p>
        <pre>
          [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
          }
        </pre>
        <p>由于ie7中不支持[ng\:cloak] selector。我们需要为其设置class，看下面的例子</p>
        <pre>
&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;ng-cloak demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id="template1" ng-cloak&gt;{{ 'hello'}}&lt;/div&gt;
    &lt;div id="template2" ng-cloak class="ng-cloak"&gt;{{ 'hello IE7'}}&lt;/div&gt;
    
    &lt;div&gt;{{ '没有用ngCloak指令显示效果'}}&lt;/div&gt;
    &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;

    &lt;script type="text/javascript"&gt;
      setTimeout(function() {
        angular.bootstrap(document.documentElement);
      }, 2000);
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </pre>
        <p><a href="./angular/examples/myExamples/ng-cloak-demo.html">运行效果</a></p>

        <h5>ngBindTemplate</h5>
        <p>
          相比ngBind，该指令提供了更灵活的赋值，可以设置{{expressions}}，而ngBind是不可以的。另外，该指令只会把ngBindTemplate中设置的值当文本来处理，而不会当成html来处理。
          看下面的例子
        </p>
        <pre>
&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;ng-bind-template demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div ng-controller="Ctrl"&gt;
      Salutation: &lt;input type="text" ng-model="salutation"&gt;&lt;br&gt;
      Name: &lt;input type="text" ng-model="name"&gt;&lt;br&gt;
      &lt;pre ng-bind-template="{{salutation}} ' , ' &lt;span&gt;&lt;/span&gt;{{name}}! 你好"&gt;&lt;/pre&gt;
    &lt;/div&gt;
    &lt;span ng-bind-template="nihao"&gt;&lt;/span&gt;
    &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;

    &lt;script type="text/javascript"&gt;
        function Ctrl($scope) {
          $scope.salutation = 'Hello';
          $scope.name = 'World';
        }
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;          
        </pre>
        <p><a href="./angular/examples/myExamples/ng-bind-template-demo.html">运行效果</a></p>

        <h5>ngInclude</h5>
        <p>
          ngInclude指令可以包含模板文件（外部定义的文件，内部用&lt;script type="text/ng-template" id="tpl"&gt;content, {{ 1 + 1}}&lt;/script&gt;）。该指令的用法为：
        </p>
        <pre>
    as element:
    <ng-include
    src="{string}"
    [onload="{string}"]
    [autoscroll="{string}"]>
    </ng-include>

    as attribute
    <ANY ng-include="{string}"
    [onload="{string}"]
    [autoscroll="{string}"]>
    ...
    </ANY>

    as class
    <ANY class="ng-include: {string}; [onload: {string};] [autoscroll: {string};]">
    ...
    </ANY>
        </pre>
        <p>该指令可以结合animate来实现动画效果。</p>
        <p>
          注意：<span class="h-web-font-red">1.This directive creates new scope.<br/> 
            2.This directive executes at priority level 400. <br/>
            3.还需注意安全问题，ngInclude won't work for cross-domain requests on all browsers and for file:// access on some browsers.<br/>
            4.模板中不支持script，但支持style。</span></p>

        <p><a href="./angular/examples/myExamples/ng-include-demo.html">点击查看实例</a></p>


        <h4>内容控制指令</h4>
        <h5>ngShow和ngHide指令</h5>
        <p>
          用来显示或隐藏指令包含的内容，这里需要注意的是<span class="h-web-font-red">1.0.8版本是通过style="display:none;"来控制隐藏和显示的，而最新版本1.2.0中使用ng-hide class样式来控制的。
            为了在angular编译前，不显示该元素，对于1.0.8版本，我们可以为该元素设置style="display:none;"；而对于1.2.0版本我们可以提前设置ng-hide class样式</span>。如下代码： </p>
        <pre>
          <span ng-hide="hideContent" style="display:none;">{{ '隐藏的内容（1.0.8）'}}</span>
          <span ng-hide="hideContent" class="ng-hide">{{  '隐藏的内容（1.2.0）'}}</span>
        </pre>
        <p>这样在编译前，该元素也会隐藏，编译后如果hideContent值为true也会隐藏，保存编译前后显示一致，尤其是对于加载慢的页面来说，这样设置，用户体验效果会更好些。</p>
        <p>另外同时设置了ng-show 和 ng-hide , 如果ng-show的值改变了，就按ng-show处理。同样，如果ng-hide的值改变了，就按ng-hide处理</p>
        <p><a href="./angular/examples/myExamples/ng-show-or-ng-hide-demo.html">点击查看实例</a></p>

        <h5>ngIf指令</h5>
        <p>该指令根据值为true或false来创建或删除指令包含的内容，该指令不同于ngShow和ngHide，不是隐藏或显示指令中的内容，每次都会重新创建或删除内容</p>

        <p><a href="./angular/examples/myExamples/ng-if-demo.html">点击查看实例</a></p>

        <h5>ngSwitch 指令</h5>
        <p>ngSwitch 指令会根据不同的条件显示不同的内容，需要跟ngSwitchWhen or ngSwitchDefault 结合使用</p>
        <p>注意：<span class="h-web-font-red">1.This directive creates new scope. 2.This directive executes at priority level 800.</span>
        </p>
        <p>所以，我们创建时，里面的ng-model最好用父节点设置的变量</p>
        <pre>
   ng-model应该采用父scope中定义的变量

   <div ng-init="a = 2">
    <ul ng-switch on="a">
      <li ng-switch-when="1"><input type="radio" value="1" ng-model="geoAddress.radio" /></li>
      <li ng-switch-when="2"><input type="radio" value="2" ng-model="geoAddress.radio" /></li>
      <li ng-switch-default><input type="radio" value="3" ng-model="geoAddress.radio" /></li>
    </ul>
  </div>
        </pre>
        <p><a href="./angular/examples/myExamples/ng-switch-demo.html">点击查看实例</a></p>

        <h5>ngRepeat指令</h5>



        <h4>表单元素的用法</h4>

        <h5>form</h5>
        <p>angular 对form表单提供了校验，form表单中的元素是否被修改，click和submit事件处理的规则</p>
        <p><strong>CSS classes</strong></p>
        <ul>
          <li>ng-valid Is set if the form is valid.</li>
          <li>ng-invalid Is set if the form is invalid.</li>
          <li>ng-pristine Is set if the form is pristine.</li>
          <li>ng-dirty Is set if the form is dirty.</li>
        </ul>
        <p>ng-pristine，在js中可以这样使用$scope.formName.$pristine，如果表单中有值改变，该值会改变。利用该属性可以处理判断用户是否改变了当前页面中的值，
          也可以利用该属性实现以下功能，首先把提交按钮置为disabled，当有值变化时，去掉disabled。ng-dirty 实现的功能正好相反</p>
        <p>关于click和submit事件的处理，angular定义了以下规则</p>
        <p>To prevent double execution of the handler, use only one of the <a href="http://docs.angularjs.org/api/ng.directive:ngSubmit">ngSubmit</a> or <a href="http://docs.angularjs.org/api/ng.directive:ngClick">ngClick</a> directives.  This is because of the following form submission rules in the HTML specification:</p>
        <ul>
          <li>If a form has only one input field then hitting enter in this field triggers form submit  (ngSubmit)</li>
          <li>if a form has 2+ input fields and no buttons or input[type=submit] then hitting enter  doesn't trigger submit</li>
          <li>if a form has one or more input fields and one or more buttons or input[type=submit] then  hitting enter in any of the input fields will trigger the click handler on the <em>first</em> button or  input[type=submit] (ngClick) <em>and</em> a submit handler on the enclosing form (ngSubmit)</li>
        </ul>
        <p> </p>
        <p>以下是一个完整的例子</p>
        <pre>
&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;ng-form demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;form name="myForm" ng-submit="myFormSubmit();"&gt;
      userType: &lt;input name="input" ng-model="userType" required&gt;
      &lt;span class="error" ng-show="myForm.input.$error.required"&gt;Required!&lt;/span&gt;&lt;br&gt;
      &lt;tt&gt;userType = {{userType}}&lt;/tt&gt;&lt;br&gt;
      &lt;tt&gt;myForm.input.$valid = {{myForm.input.$valid}}&lt;/tt&gt;&lt;br&gt;
      &lt;tt&gt;myForm.input.$error = {{myForm.input.$error}}&lt;/tt&gt;&lt;br&gt;
      &lt;tt&gt;myForm.$valid = {{myForm.$valid}}&lt;/tt&gt;&lt;br&gt;
      &lt;tt&gt;myForm.$error.required = {{!!myForm.$error.required}}&lt;/tt&gt;&lt;br&gt;

      username: &lt;input name="input" ng-model="username"&gt;&lt;br&gt;
      &lt;button type="submit" ng-disabled="myForm.$pristine" &gt;提交&lt;/button&gt;
      &lt;button type="button" ng-disabled="myForm.$dirty" &gt;取消&lt;/button&gt;
    &lt;/form&gt;

    &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;

    &lt;script type="text/javascript"&gt;
        function Ctrl($scope) {
          $scope.userType = 'guest';
          $scope.myFormSubmit = function() {
            console.info('submit');
          };
        }
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </pre>
        <p><a href="./angular/examples/myExamples/ng-form.html">运行效果</a></p>

        <h5>input，textarea 的用法</h5>
        <p>这两个元素的用法相对简单，主要有以下指令，详细用法见官网Api。其中angular提供的校验很好，但需要手工书写错误信息，本人建议还是使用jquery validate比较方便。</p>
        <pre>
        &lt;input
    ng-model="{string}"
    [name="{string}"]
    [required]
    [ng-required="{boolean}"]
    [ng-minlength="{number}"]
    [ng-maxlength="{number}"]
    [ng-pattern="{string}"]
    [ng-change="{string}"]&gt;
    &lt;/input&gt;
        </pre>

        <h5>input checkbox的用法</h5>
        <p>checkbox用法比较简单，可以结合ng-true-value 和ng-false-value 指令来设置选中和没选中的值，
          如果没有用这两个指令的话，默认选中为true，反之为false
        </p>
        <pre>
    <form name="myForm" ng-controller="Ctrl">
      Value1: <input type="checkbox" ng-model="value1"> <br/>
      Value2: <input type="checkbox" ng-model="value2"
      ng-true-value="YES" ng-false-value="NO"> <br/>
      <tt>value1 = {{value1}}</tt><br/>
      <tt>value2 = {{value2}}</tt><br/>
    </form>
        </pre>
        <p>对于一组checkbox来说，我们可以利用ng-repeat指令来处理</p>
        <pre>
      Checkbox group: 
      &lt;div ng-repeat="field in checkboxFields"&gt;
        {{field.name}} : &lt;input type="checkbox" ng-model="field.value"&gt; 
      &lt;/div&gt;

      &lt;hr/&gt;
      &lt;p&gt;
        设置结果：
      &lt;/p&gt;
      &lt;div ng-repeat="field in checkboxFields"&gt;
        &lt;tt&gt;{{field.name}} = {{field.value}}&lt;/tt&gt;
      &lt;/div&gt;
        </pre>

        <p>以下是一个完整的例子</p>
        <pre>
&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;checkbox demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;form name="myForm" ng-controller="Ctrl"&gt;
      Value1: &lt;input type="checkbox" ng-model="value1"&gt; &lt;br/&gt;
      Value2: &lt;input type="checkbox" ng-model="value2"
                     ng-true-value="YES" ng-false-value="NO"&gt; &lt;br/&gt;
      &lt;tt&gt;value1 = {{value1}}&lt;/tt&gt;&lt;br/&gt;
      &lt;tt&gt;value2 = {{value2}}&lt;/tt&gt;&lt;br/&gt;&lt;br/&gt;

      对于一组checkbox来说，可以利用循环来实现&lt;br/&gt;
      Checkbox group: &lt;br/&gt;
      &lt;div ng-repeat="field in checkboxFields"&gt;
        {{field.name}} : &lt;input type="checkbox" ng-model="field.value"&gt; 
      &lt;/div&gt;

      &lt;hr/&gt;
      &lt;p&gt;
        设置结果：
      &lt;/p&gt;
      &lt;div ng-repeat="field in checkboxFields"&gt;
        &lt;tt&gt;{{field.name}} = {{field.value}}&lt;/tt&gt;&lt;br/&gt;
      &lt;/div&gt;
    &lt;/form&gt;
    &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
          function Ctrl($scope) {
            $scope.checkboxFields = [{
                name: '北京',
                value: false
              }, {
                name: '天津',
                value: true
              }, {
                name: '上海',
                value: false
              }];
            $scope.value1 = true;
            $scope.value2 = 'YES';
          }
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </pre>
        <p><a href="./angular/examples/myExamples/ng-checkbox-demo.html">运行效果</a></p>

        <h5>input radio 的用法</h5>
        <p>radio处理起来比checkbox更加方便，对于一组radio来说，他只有一个值，他们共用一个ng-model，但每个radio的值不同。看下面的例子</p>
        <pre>
&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;radio demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;form name="myForm" ng-controller="Ctrl"&gt;
      &lt;input type="radio" ng-model="color" value="red"&gt; Red &lt;br/&gt;
      &lt;input type="radio" ng-model="color" value="green"&gt; Green &lt;br/&gt;
      &lt;input type="radio" ng-model="color" value="blue"&gt; Blue &lt;br/&gt;
      &lt;tt&gt;color = {{color}}&lt;/tt&gt;&lt;br/&gt;
    &lt;/form&gt;
    &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
        function Ctrl($scope) {
          $scope.color = 'blue';
        }
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </pre>
        <p><a href="./angular/examples/myExamples/ng-radio-demo.html">运行效果</a></p>

        <h5>select 的用法</h5>
        <p>select的用法，angular提供了一套比较牛b的实现，而且用法也比较灵活，select是结合ngOptions指令来实现的</p>
        <p>ngOptions指令表达式值有以下几种情况（官方文档）</p>
        <ul>
          <li>for array data sources:
            <ul>
              <li>label <strong>for</strong> value <strong>in</strong> array</li>
              <li>select <strong>as</strong> label <strong>for</strong> value <strong>in</strong> array</li>
              <li>label <strong>group by</strong> group <strong>for</strong> value <strong>in</strong> array</li>
              <li>select <strong>as</strong> label <strong>group by</strong> group <strong>for</strong> value <strong>in</strong> array <strong>track by</strong> trackexpr</li>
            </ul>
          </li>
          <li>for object data sources:
            <ul>
              <li>label <strong>for (</strong>key <strong>,</strong> value<strong>) in</strong> object</li>
              <li>select <strong>as</strong> label <strong>for (</strong>key <strong>,</strong> value<strong>) in</strong> object</li>
              <li>label <strong>group by</strong> group <strong>for (</strong>key<strong>,</strong> value<strong>) in</strong> object</li>
              <li>select <strong>as</strong> label <strong>group by</strong> group <strong>for (</strong>key<strong>,</strong> value<strong>) in</strong> object</li>
            </ul>
          </li>
        </ul>
        <p>Where:</p>
        <ul>
          <li>array / object: an expression which evaluates to an array / object to iterate over.</li>
          <li>value: local variable which will refer to each item in the array or each property value   of object during iteration.</li>
          <li>key: local variable which will refer to a property name in object during iteration.</li>
          <li>label: The result of this expression will be the label for &lt;option&gt; element. The  expression will most likely refer to the value variable (e.g. value.propertyName).</li>
          <li>select: The result of this expression will be bound to the model of the parent &lt;select&gt;   element. If not specified, select expression will default to value.</li>
          <li>group: The result of this expression will be used to group options using the &lt;optgroup&gt;   DOM element.</li>
          <li>trackexpr: Used when working with an array of objects. The result of this expression will be   used to identify the objects in the array. The trackexpr will most likely refer to the  value variable (e.g. value.propertyName).</li>
        </ul>

        <p>下面针对各用法给出详细解释</p>

        <p>注意：<span class="h-web-font-red">用ng-options指令迭代option，如果select对应的ng-model没有初始值，会产生一个空的option，解决的方法可以为ng-model赋初始值，也可以默认设置一个空的option，还可以利用track by trackexpr来设置默认值。
            如果不想要空值，并且也不知道ng-model初始值，我们只能用ng-repeat来循环option了。</span></p>
        <pre>
          <div ng-init="colors = [
                    {name: 'black', shade: 'dark', code: '1'},
                    {name: 'white', shade: 'light', code: '2'},
                    {name: 'red', shade: 'dark', code: '3'},
                    {name: 'blue', shade: 'dark', code: '4'},
                    {name: 'yellow', shade: 'light', code: '5'}
            ];"></div>
          1.产生一个value和text都为空的option
          <select ng-model="color1" ng-options="c.name for c in colors"></select>

          2.默认设置一个value为空字符的option
          <select ng-model="color2"  ng-options="c.name for c in colors">
            <option value="">-- chose color --</option>
          </select>

          3.为ng-model赋一个初始值，当然这个值是ng-options中存在的值
          <span ng-init="color3 = colors[2];"></span>
          <select ng-model="color3"  ng-options="c.name for c in colors">
          </select>

          4.用ng-repeat循环显示option
          <span ng-init="color4 = '3';"></span>
          <select ng-model="color4">
            <option ng-repeat="c in colors" value="{{c.code}}" ng-selected="c.code == color4">{{ c.name}}</option>
          </select>

          5.用track by trackexpr 设置默认值
          在第3种情况中我们给ng-model赋了一个初始值，这个初始值是取ng-options中的某个值，如果我们这样设置，是不起作用的
          <span ng-init="color5 = {name: 'red', shade: 'dark', code: '3'};"></span>
          <select ng-model="color5"  ng-options="c.name for c in colors">
          </select>

          这时我们就可以用track by trackexpr来处理了，trackexpr表达式(e.g. value.propertyName)可以是数组中对象的任意属性
          <span ng-init="color5 = {name: 'red', shade: 'dark', code: '3'};"></span>
          <select ng-model="color5"  ng-options="c.name for c in colors track by c.code">
          </select>
        </pre>
        <p>track by trackexpr的用法，官方提供了一个<a href="http://jsfiddle.net/yTpcu/">例子</a></p>

        <p>我们看一下ng-options 中arrays 和 objects的详细用法，首先看 arrays 的几种情况</p>
        <pre>
           <div ng-init="colors = [
                    {name: 'black', shade: 'dark', code: '1'},
                    {name: 'white', shade: 'light', code: '2'},
                    {name: 'red', shade: 'dark', code: '3'},
                    {name: 'blue', shade: 'dark', code: '4'},
                    {name: 'yellow', shade: 'light', code: '5'}
             ];"></div>
           1.label for value in array
          <span ng-init="color_label = colors[1];"></span>
          <select ng-model="color_label"  ng-options="c.name for c in colors">
          </select>
          {{color_label}}

          2.select as label for value in array
          <span ng-init="color_select = '1';"></span>
          <select ng-model="color_select"  ng-options="c.code as c.name for c in colors">
          </select>
          {{color_select}}

          3.label group by group for value in array
          <span ng-init="color_label_group = colors[1];"></span>
          <select ng-model="color_label_group"  ng-options="c.name group by c.shade for c in colors">
          </select>
          {{color_label_group}}

          4.select as label group by group for value in array track by trackexpr
          <span ng-init="color_label_group2 = {name: 'white', shade: 'light', code: '2'};"></span>
          <select ng-model="color_label_group2"  ng-options="c as c.name group by c.shade for c in colors track by c.name">
          </select>
          {{color_label_group2}}
        </pre>

        <p>以上是arrays的例子，下面看一下objects的几种情况</p>
        <pre>
          <div ng-init="$scope.colors2 = {
                    black: {name: 'black', shade: 'dark', code: '1'},
                    white: {name: 'white', shade: 'light', code: '2'},
                    red: {name: 'red', shade: 'dark', code: '3'},
                    blue: {name: 'blue', shade: 'dark', code: '4'},
                    yellow: {name: 'yellow', shade: 'light', code: '5'}
            };"></div>
          1.label for (key , value) in object
          <span ng-init="color2_label = colors2['black'];"></span>
          <select ng-model="color2_label"  ng-options="value.name | uppercase for (key , value) in colors2">
          </select>
          {{color2_label}}

          2.select as label for (key , value) in object
          <span ng-init="color2_select = '3';"></span>
          <select ng-model="color2_select"  ng-options="value.code as value.name for (key , value) in colors2">
          </select>
          {{color2_select}}

          3.label group by group for (key, value) in object
          <span ng-init="color2_group = colors2['black'];"></span>
          <select ng-model="color2_group"  ng-options="value.name group by value.shade for (key , value) in colors2">
          </select>
          {{color2_group}}

          4.select as label group by group for (key, value) in object
          <span ng-init="color2_group2 = '4';"></span>
          <select ng-model="color2_group2"  ng-options="value.code as value.name group by value.shade for (key , value) in colors2">
          </select>
          {{color2_group2}}
        </pre>

        <p>关于object的用法可以查看官方<a href="http://jsfiddle.net/salcman/jUP6K/">例子</a></p>

        <p><a href="./angular/examples/myExamples/select-demo.html">点击这里</a>查看完整的例子</p>

        <h4>a标签和script标签</h4>
        <h5>a标签</h5>
        <p>这里需要注意的是，A tag中当href为空时，angular修改了其默认行为（阻止了其默认行为的发生），即href为空时，点击a标签不会刷新页面</p>
        <p>我们可以这样使用</p>
        <pre>
     <a href="" ng-click="list.addItem()">Add Item</a>
        </pre>

        <h5>script标签</h5>
        <p>secript tag在 angular中主要用于处理模板，我们只要设置 type 属性为 text/ng-template即可。 
          template can be used by ngInclude, ngView or directive templates.</p>
        <p>例子</p>
        <pre>
&lt;!doctype html&gt;
&lt;html ng-app="ngtemplatetest"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;script demo&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;script type="text/ng-template" id="/tpl.html"&gt;
      &lt;div&gt;
      &lt;!-- note, templates must have exactly one root element --&gt;
      &lt;h1&gt;{{ title}}&lt;/h1&gt;
      &lt;div class="content" ng-transclude&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/script&gt;

  &lt;thing title="title of the template"&gt;
    &lt;p&gt;Some transcluded content&lt;/p&gt;
  &lt;/thing&gt;
  &lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;

  &lt;script type="text/javascript"&gt;
    angular.module('ngtemplatetest', [])
        .directive(
                'thing', function() {
                  return {
                    restrict: 'E'
                    , templateUrl: '/tpl.html'
                    , replace: true
                    , transclude: true
                    , scope: {'title': '@'}
                  }
                })
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
        </pre>
        <p><a href="./angular/examples/myExamples/script-demo.html">运行效果</a></p>

        <h4>$animate ngAnimate 动画</h4>
        <p>$animate是作为一个service来实现的，动画实现过程主要是通过调用以下几个方法来实现的  </p>
        <ol>
          <li>addClass(element, className, doneCallback)</li>
          <li>enabled(value)</li>
          <li>enter(element, parentElement, afterElement, doneCallback)</li>
          <li>leave(element, doneCallback)</li>
          <li>move(element, parentElement, afterElement, doneCallback)</li>
          <li>removeClass(element, className, doneCallback)</li>
        </ol>
        <p>这几个方法的调用过程详见官网api <a href="http://docs.angularjs.org/api/ngAnimate.$animate">$animate</a></p>
        <p>为了实现动画效果，我们需要引入angular-animate.js，并且在app中依赖该module</p>
        <pre>
    angular.module('app', ['ngAnimate']);
        </pre>
        <p>同时还需要为动画效果定制css</p>
        <p>ngAnimate动画支持的指令有：ngRepeat, ngInclude, ngIf, ngSwitch, ngShow, ngHide, ngView and ngClass.当然我们可以自定义指令通过调用$animate service实现更高级的动画效果。</p>
        <p>Below is a more detailed breakdown of the supported animation events provided by pre-existing ng directives:</p>
        <table>
          <thead>
            <tr>
              <th>Directive</th>
              <th>Supported Animations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="http://docs.angularjs.org/api/ng.directive:ngRepeat#usage_animations">ngRepeat</a></td>
              <td>enter, leave and move</td>
            </tr>
            <tr>
              <td><a href="http://docs.angularjs.org/api/ngRoute.directive:ngView#usage_animations">ngView</a></td>
              <td>enter and leave</td>
            </tr>
            <tr>
              <td><a href="http://docs.angularjs.org/api/ng.directive:ngInclude#usage_animations">ngInclude</a></td>
              <td>enter and leave</td>
            </tr>
            <tr>
              <td><a href="http://docs.angularjs.org/api/ng.directive:ngSwitch#usage_animations">ngSwitch</a></td>
              <td>enter and leave</td>
            </tr>
            <tr>
              <td><a href="http://docs.angularjs.org/api/ng.directive:ngIf#usage_animations">ngIf</a></td>
              <td>enter and leave</td>
            </tr>
            <tr>
              <td><a href="http://docs.angularjs.org/api/ng.directive:ngClass#usage_animations">ngClass</a></td>
              <td>add and remove</td>
            </tr>
            <tr>
              <td><a href="http://docs.angularjs.org/api/ng.directive:ngShow#usage_animations">ngShow &amp; ngHide</a></td>
              <td>add and remove (the ng-hide class value)</td>
            </tr>
          </tbody>
        </table>

        <p>Below is an example of how to apply animations to a directive that supports animation hooks。我们可以根据需要来定义这样css样式</p>
        <pre>
    &lt;style type="text/css"&gt;
    .slide.ng-enter, .slide.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    }
     
    .slide.ng-enter { } /* starting animations for enter */
    .slide.ng-enter-active { } /* terminal animations for enter */
    .slide.ng-leave { } /* starting animations for leave */
    .slide.ng-leave-active { } /* terminal animations for leave */
    &lt;/style&gt;
     
    &lt;!--
    the animate service will automatically add .ng-enter and .ng-leave to the element
    to trigger the CSS transition/animations
    --&gt;
    &lt;ANY class="slide" ng-include="..."&gt;&lt;/ANY>
        </pre>
        
        <p>angular animate是基于css3（CSS Transitions /CSS Keyframe Animations）实现动画的，如果想让不支持css3的浏览器实现动画效果，我们需要自己重写js代码，如下：</p>
        <pre>
    var ngModule = angular.module('YourApp', []);
    ngModule.animation('.my-crazy-animation', function() {
      return {
        enter: function(element, done) {
          //run the animation here and call done when the animation is complete
          return function(cancelled) {
            //this (optional) function will be called when the animation
            //completes or when the animation is cancelled (the cancelled
            //flag will be set to true if cancelled).
          }
        }
        leave: function(element, done) { },
        move: function(element, done) { },

        //animation that can be triggered before the class is added
        beforeAddClass: function(element, className, done) { },

        //animation that can be triggered after the class is added
        addClass: function(element, className, done) { },

        //animation that can be triggered before the class is removed
        beforeRemoveClass: function(element, className, done) { },

        //animation that can be triggered after the class is removed
        removeClass: function(element, className, done) { }
      };
    });
        </pre>
        <p class="h-web-font-red">所以说，angular animate提供了三种实现方式：CSS Transitions Animations ，CSS Keyframe Animations 和 javascript Animations</p>
        <p>可以参考这里学习<a href="http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html">angular animate</a>，该站点提供了几个实用的例子，<span class="h-web-font-red">非常棒</span>。 </p>
        <p class="h-web-font-red">注意：ng-animate指令在最新版本中不赞成实用，而相应的用css来设置</p>
        <p>关于animate详细的应用，我们可以参考<a href="./angular/examples/myExamples/ng-animate-demo.html">例子</a>，
          因为例子是最好的教程。这些例子摘自上面的<a href="http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html">链接</a></p>












        <p>&nbsp;</p>
        <h4>几个主要概念的理解</h4>
        <p>ng-app</p>
        <p>创建app，待整理
          angular.module('shoppingCartApp',[]);
        </p>
        <p>ng-controller</p>
        <p>
          全局controller和局部controller
          angular.module('shoppingCartApp',[]).controller('CartController', ['$scope', function ($scope) {
          $scope.items = [
          {title: 'Paint pots', quantity: 8, price: 3.95},
          {title: 'Polka dots', quantity: 17, price: 12.95},
          {title: 'Pebbles', quantity: 5, price: 6.95}
          ];
          $scope.remove = function(index) {
          $scope.items.splice(index, 1);
          }
          }]);
        </p>

        <p>
          对于表单标签用这种方式： &lt;input ng-model="item.quantity" /&gt;
          对于其他用这种方式：&lt;span&gt;{{item.title}}&lt;/span&gt;
        </p>

        <p>
          ng-repeat内置的属性 $index 等
        </p>

        <h4>模板和数据绑定</h4>



        <h4>列表, 表格和其他重复的元素</h4>
        <h4>隐藏与显示</h4>
        <h4>CSS类和样式</h4>
        <p> Angular提供了ng-class和ng-style指令. 它们都接受一个表达式. 这个表达式的计算结果可以是下列之一:</p>
        <ul>
          <li>一个使用空格分割类名的字符串</li>
          <li>一个类名数组</li>
          <li>类名到布尔值的映射</li>
        </ul>

        <h4>src和href属性注意事项</h4>
        <p>当数据绑定给一个&lt;img&gt;或者&lt;a&gt;标签时, 像上面一样在src或者href属性中使用{{ }}处理路径将无法正常工作. 因为在浏览器中图片与其他内容是并行加载的, 所以Angular无法拦截数据绑定的请求.</p>
        <p>对于&lt;img&gt;而言最明显的语法错误就是：</p>
        <pre>    &lt;img src="/images/cats/{{favoriteCat}}"&gt;  </pre>
        <p>正确的，我们应该使用ng-src属性并像下面这样编写模板：</p>
        <pre>    &lt;img ng-src="/images/cats/{{favoriteCat}}"&gt;  </pre>
        <p>同样的道理，对于&lt;a&gt;标签你应该使用ng-href：</p>
        <pre>    &lt;a ng-href="/shop/category={{numberOfBalloons}}"&gt;some text&lt;/a&gt;</pre>

        <h4>表达式</h4>
        <p>表达式背后的思想是让你巧妙的在你的模板, 应用程序逻辑以及数据之间创建钩子而与此同时防止应用程序逻辑偷偷摸摸的进入模版中.</p>
        <p>直到现在, 我们一直主要是引用原生的数据作为表达式传递给Angular指令. 但是其实这些表达式可以做更多的事情. 你可以处理简单的数学运算(+, -, /, *, %), 进行比较(==, !=,&gt;, &lt;,&gt;=, &lt;=), 执行布尔逻辑运算(&amp;&amp;, !!, !)以及按位运算(^, &amp;, |). 你可以调用暴露在控制器的$scope对象上的函数, 你还可以引用数据和对象表示法([], {}, …).</p>
        <p>下面都是有效表达式的例子:</p>
        <div>
          <pre>    &lt;div ng-controller="SomeController"&gt;          &lt;div&gt;{{recompute() / 10}}&lt;div&gt;          &lt;ul ng-repeat="thing in things"&gt;              &lt;li ng-class="{highlight: $index % 4&gt;= threshold($index)}"&gt;                  {{otherFunction($index)}}              &lt;/li&gt;          &lt;/ul&gt;      &lt;/div&gt;  </pre>
        </div>
        <p>这里的第一个表达式recompute() / 10是有效的, 是在模板中设置逻辑很好的好例子, 但是应该避免这种方式. 保持视图和控制器之间的职责分离可以确保它们容易理解和测试.</p>
        <p>虽然你可以使用表达式做很多事情, 它们由Angular自定义的解释器部分计算. 他们并不使用JavaScript的eval()执行, eval()有相当多的限制.</p>
        <p>相反, 它们使用Angular自带的自定义解释器执行. 在里面, 你不会看到循环结构(for, while等等), 流程控制语句(if-else, throw)或者改变数据的运算符(++, --). 当你需要使用这些类型的运算时, 你应该在你的控制器中使用指令进行处理.</p>
        <p>尽管表达式在很多方面比JavaScript更加严格, 但它们对undefined和null并不是很严格(更宽松). 模板只是简单的渲染一些东西, 并不会抛出一个NullPointerException的错误. 这样就允许你安全的使用模型而没有限制, 并且只要它们得到数据填充就让它们出现在用户界面中.</p>
        <h4>使用$watch监控模型变化</h4>

        <h4>使用过滤器格式化数据</h4>

        <h4>学习angular技巧</h4>
        <h5>在终端控制台调试</h5>
        <p>先看一例子</p>
        <pre>
  &lt;p id="test" ng-controller="TestCtrl"&gt;{{ a}}&lt;/p&gt;
  
  &lt;script type="text/javascript"&gt;
  var TestCtrl = function($scope){
    $scope.a = '123';
  }
  angular.bootstrap(document.documentElement);
  &lt;script&gt;
        </pre>
        <p>我们可以在控制台输入以下代码来测试(需要导入jquery)</p>
        <pre>
  $('#test').scope().a = '12345';
  $('#test').scope().$digest();
        </pre>
      </div>
    </div>
  </body>
</html>