<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Angular 学习</title>
    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript">
      $(function() {
        $('.h-web-catalogue li a').click(function(e) {
          e.preventDefault();
          var paragraphNum,
                  paragraph,
                  offset;
          var el = this;
          $(this).closest('ol').find('li a').each(function(index, element) {
            if (this === el) {
              paragraphNum = index;
              return false;
            }
          });
          paragraph = $('.h-web-paragraph h3[paragraph]').eq(paragraphNum);
          offset = paragraph.offset();
          if (offset) {
            $(window).scrollTop(offset.top);
          }
        });
        //初始化内容折叠事件
        $('.h-web-paragraph').on('click', 'h3[paragraph]', function(e) {
          $(this).next().toggle();
        });

        //SyntaxHighlighter
        $('pre').replaceWith(function() {
          var html = '<pre type="syntaxhighlighter" class="brush: js; html-script: true; quick-code: false; toolbar : false" >';
          html += $(this).html();
          html += '</pre>';
          return html;
        });
        SyntaxHighlighter.highlight();
      });
    </script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li><a paragraph href="#">Angular 介绍</a></li>
      <li><a paragraph href="#">Angular 例子</a></li>
      <li><a paragraph href="#">Angular 学习整理</a></li>
    </ol>
    <div class="h-web-paragraph">
      <h3 paragraph>Angular 介绍</h3>
      <div>
        <p>Angular 是一个为动态WEB应用设计的结构框架。它能让你使用HTML作为模板语言，通过扩展HTML的语法，让你能更清楚、简洁地构建你的应用组件。它的创新点在于，利用 <strong>数据绑定</strong> 和 <strong>依赖注入</strong>，它使你不用再写大量的代码了。这些全都是通过浏览器端的Javascript实现，这也使得它能够完美地和任何服务器端技术结合。</p>
        <p>Angular 是为了克服HTML在构建应用上的不足而设计的。HTML是一门很好的为静态文本展示设计的声明式语言，但要构建WEB应用的话它就显得乏力了。所以我做了一些工作（你也可以觉得是小花招）来让浏览器做我想要的事。</p>
        <p><a href="http://angularjs.org/">官网</a></p>
        <p><a href="http://www.angularjs.cn/">中文社区</a></p>
        <p><a href="http://angular-ui.github.io/">Angular UI</a></p>
      </div>
      <h3 paragraph>Angular 例子</h3>
      <div>
        <p><a href="./angular/examples/demo1.html">入门例子</a></p>
      </div>
      <h3 paragraph>Angular 学习整理</h3>
      <div>
        <h4>AngularJS 命名空间</h4>
        <p>为了防止意外的命名冲突， AngularJS为可能冲突的对象名加以前缀"$"。所以请不要在你自己的代码里用"$"做前缀，以免和AngularJS代码发生冲突。
          所以一$为前缀的对象是Angular本身定义的对象。
        </p>
        <h4>几个主要概念的理解</h4>
        <p>ng-app</p>
        <p>创建app，待整理
          angular.module('shoppingCartApp',[]);
        </p>
        <p>ng-controller</p>
        <p>
          全局controller和局部controller
          angular.module('shoppingCartApp',[]).controller('CartController', ['$scope', function ($scope) {
          $scope.items = [
          {title: 'Paint pots', quantity: 8, price: 3.95},
          {title: 'Polka dots', quantity: 17, price: 12.95},
          {title: 'Pebbles', quantity: 5, price: 6.95}
          ];
          $scope.remove = function(index) {
          $scope.items.splice(index, 1);
          }
          }]);
        </p>

        <p>
          对于表单标签用这种方式： &lt;input ng-model="item.quantity" /&gt;
          对于其他用这种方式：&lt;span&gt;{{item.title}}&lt;/span&gt;
        </p>

        <p>
          ng-repeat内置的属性 $index 等
        </p>

        <h4>模板和数据绑定</h4>
        <h5>显示文本</h5>
        <p>我们可以使用ng-bind指令在UI的任何地方显示和更新文本，也可以使用双花括号形式来绑定文本。</p>
        <p>双花括号形式例子：</p>
        <pre>    &lt;p&gt;{{greeting}}&lt;/p&gt;  </pre>
        <p>使用ng-bind基于属性的指令例子：</p>
        <pre>    &lt;p ng-bind="greeting"&gt;&lt;p&gt;  </pre>
        <p>这两者的输出是等价的。 如果模型中的变量greeting设置为"Hi, there", Angular将生成这样的HTML：</p>
        <pre>    &lt;p&gt;Hi, there&lt;/p&gt;  </pre>
        <p>浏览器将显示"Hi, There"。</p>
        <p>一般情况下我们使用双花括号的形式，这样读起来更加方便自然。但有时需要开始的时候就显示模板内容，这样开始显示双花括号，Angular解析完显示实际的值，
          这种方式用户体验差些，我们可以用指令的方式，使之开始什么都不显示。
        </p>

        <h5>表单输入</h5>
        <p>在Angular中处理表单元素是很简单的，只需使用ng-model属性绑定到你的模型属性元素上即可。
          ng-model适用于所有标准的表单元素, 例如文本输入框, 单选按钮, 复选框等等。我们可以像这样绑定一个复选框：</p>
          <pre>    &lt;form controller="SomeController"&gt;
          &lt;input type="checkbox" ng-model="youCheckedIt"&gt;
    &lt;/form&gt;  </pre>
        <p>这意味着：</p>
        <ol>
          <li>当用户选择复选框, SomeController的$scope中一个名为youCheckedIt的属性将变成true。取消选择时使youCheckedIt变成false。</li>
          <li>如果你在SomeController中设置$scope.youCheckedIt为true， 这个复选框在UI中会被自动选择。设置它为false则取消选择。</li>
        </ol>
        <p>我们也可以在form表单上注册一些事件，比如change，click等，例如：</p>
        <pre>&lt;form ng-controller="StartUpController"&gt;
      Starting: &lt;input ng-change="computeNeeded()" ng-model="funding.startingEstimate"&gt;
      Recommendation: {{funding.needed}}
&lt;/form&gt;
function StartUpController($scope){
      $scope.funding = { startingEstimate: 0 };
      $scope.computeNeeded = function(){
        $scope.needed = $scope.startingEstimate * 10;
    };
}</pre>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </body>
</html>