<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CSS 相关</title>
    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css"/>

    <style type="text/css">
      body{
        background-color: #CCE8CF;
        padding: 10px;
      }
    </style>
    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>

    <script type="text/javascript">
      $(function() {
        $('.h-web-catalogue li a').click(function(e) {
          e.preventDefault();
          var paragraphNum,
                  paragraph,
                  offset;
          var el = this;
          $(this).closest('ol').find('li a').each(function(index, element) {
            if (this === el) {
              paragraphNum = index;
              return false;
            }
          });
          paragraph = $('.h-web-paragraph h3[paragraph]').eq(paragraphNum);
          offset = paragraph.offset();
          if (offset) {
            $(window).scrollTop(offset.top);
          }
        });
        //初始化内容折叠事件
        $('.h-web-paragraph').on('click', 'h3[paragraph]', function(e) {
          $(this).next().toggle();
        });

        //SyntaxHighlighter
        $('pre').replaceWith(function() {
          var html = '<pre type="syntaxhighlighter" class="brush: js; html-script: true; quick-code: false; toolbar : false" >';
          html += $(this).html();
          html += '</pre>';
          return html;
        });
        SyntaxHighlighter.highlight();
      });
    </script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li><a paragraph href="#">CSS 和 HTML 编码规范</a></li>
    </ol>
    <div class="h-web-paragraph">
      <h3 paragraph>CSS 和 HTML 编码规范</h3>
      <div>
        <p>参见<a href="https://github.com/mdo/code-guide">CSS 和 HTML 编码规范</a>。以下是其部分中文翻译。</p>
        <h4>CSS</h4>
        <h5>CSS 语法</h5>
        <ul>
          <li>用两个空格缩进</li>
          <li>当分组书写多个选择器时，每一个选择器保持在一行中显示
            <pre>
.selector,
.selector-secondary,
.selector[type="text"] {
  padding: 15px;
  margin: 0 0 15px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
}</pre>
          </li>
          <li>在开始声明样式前应该有一个空格，即 { 之前加一空格</li>
          <li>结束声明时应该在新的一行中显示，即 } 单独一行显示</li>
          <li>在 ： 后面加上一空格，但前面不应该添加</li>
          <li>每一个属性的声明应该单独放在一行中显示</li>
          <li>每一个属性声明必须以分号结束，即使是最后的一个声明</li>
          <li>在设置属性值时，如果该值中有逗号，则每一个逗号后面需加上一个空格</li>
          <li>但在设置RGB or RGBa 颜色时，逗号后应该不要加空格</li>
          <li>设置颜色时用小写值，例如用 #fff 来替换  #FFF 。这一点本人不是很认同，也许有点out了，呵呵</li>
          <li>对于颜色值的设置，能用短值就应尽量用短值来设置，比如用 #fff 来替换 #ffffff</li>
          <li>在选择器中如果出现属性，则应该为属性值加上双引号，比如 input[type="text"]</li>
          <li>如果属性值是0，则不需要在后面加单位（px等），比如用 margin: 0; 来代替 margin: 0px;</li>
        </ul>
        <h5>CSS 属性声明顺序</h5>
        <p>相关的属性应该放在一起，定位和盒模型应该放在最上面，其次是排版，字体等，最后是视觉相关的样式，比如背景，边框等。看下面的例子</p>
        <pre>
.declaration-order {
  /* Positioning */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Box-model */
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  /* Typography */
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

  /* Visual */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  /* Misc */
  opacity: 1;
}
        </pre>
        <p>我们可以利用<a href="http://twitter.github.com/recess">Recess</a>.来检查css顺序，以及其他规则。</p>
        <p>Recss还可以用来压缩，编译css。详细操作说明见 <a href="https://github.com/twitter/recess" target="_blank">https://github.com/twitter/recess</a>。因为Recss是基于npm来实现的，所以可以用在nodejs中。</p>

        <h5>CSS 书写格式化</h5>
        <ol>
          <li>带前缀的属性
            <p>在声明基于供应商提供的带前缀的属性时，应该保证属性垂直对齐，即 ：是对齐的</p>
            <pre>
.selector {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}</pre>
          </li>
          <li>选择器中只有一个属性的声明，可以单独一行显示
            <pre>
.span1 { width: 60px; }
.span2 { width: 140px; }
.span3 { width: 220px; }

.sprite {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../img/sprite.png);
}
.icon           { background-position: 0 0; }
.icon-home      { background-position: 0 -20px; }
.icon-account   { background-position: 0 -40px; }
            </pre>
          </li>
          <li>css代码书写应该是友好的，应该更方便其他人阅读和维护
            <p>注释应该让其他人明白</p>
            <p><strong>Bad example:</strong></p>
            <pre>
/* Modal header */
.modal-header {
  ...
}
            </pre>
            <p><strong>Good example:</strong></p>
            <pre>
/* Wrapping element for .modal-title and .modal-close */
.modal-header {
  ...
}
            </pre>
            <p>class 名称要有实际意义</p>
            <ul>
              <li>变量名应该是小写的，并且使用破折号 - ，不应该使用下划线 _ 和驼峰式命名</li>
              <li>避免使用速记名称来命名</li>
              <li>变量名应尽可能的简洁</li>
              <li>使用有意义的名称，或使用结构化的短语来命名</li>
              <li>变量的前缀应该使用基于父类的命名。</li>
            </ul>
            <p><strong>Bad example:</strong></p>
            <pre>
.t { ... }
.red { ... }
.header { ... }
            </pre>
            <p><strong>Good example:</strong></p>
            <pre>
.tweet { ... }
.important { ... }
.tweet-header { ... }
            </pre>
          </li>
        </ol>

        <h4>HTML</h4>
        <h5>HTML 语法</h5>
        <ul>
          <li>用两个空格缩进</li>
          <li>总是使用双引号，不要使用单引号</li>
          <li>确保所有的html标签时闭合的</li>
        </ul>
        <p><strong>Incorrect example:</strong></p>
        <pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Page title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;img src='images/company-logo.png' alt='Company' /&gt;
&lt;h1 class='hello-world'&gt;Hello, world!&lt;/h1&gt;
&lt;/body&gt;
&lt;/html&gt;
        </pre>
        <p><strong>Good example:</strong></p>
        <pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Page title&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;img src="images/company-logo.png" alt="Company"&gt;
    &lt;h1 class="hello-world"&gt;Hello, world!&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </pre>
        <h5>HTML5 doctype</h5>
        <p>尽可能用html5 doctype模式</p>
        <pre>
&lt;!DOCTYPE html&gt;
        </pre>
        <h5>要使用语义化标签</h5>
        <p>实际开发中尽量使用语义化标签</p>
        <h5>属性顺序</h5>
        <p>使用合理的顺序方便用户阅读，以下是推荐顺序，该规则不是固定的，实际中也很难做到。</p>
        <ul>
          <li>id</li>
          <li>class</li>
          <li>data-*</li>
          <li>for|type|href</li>
        </ul>
        <pre><a id="demo1" class="link1" data-modal="modal1" href="#">Example link</a></pre>
      </div>
    </div>
  </body>
</html>