<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CSS3</title>
    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css"/>

    <style type="text/css">
      body{
        background-color: #CCE8CF;
        padding: 10px;
      }
    </style>
    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>

    <script type="text/javascript">
      $(function() {
        $('.h-web-catalogue li a').click(function(e) {
          e.preventDefault();
          var paragraphNum,
                  paragraph,
                  offset;
          var el = this;
          $(this).closest('ol').find('li a').each(function(index, element) {
            if (this === el) {
              paragraphNum = index;
              return false;
            }
          });
          paragraph = $('.h-web-paragraph h3[paragraph]').eq(paragraphNum);
          offset = paragraph.offset();
          if (offset) {
            $(window).scrollTop(offset.top);
          }
        });
        //初始化内容折叠事件
        $('.h-web-paragraph').on('click', 'h3[paragraph]', function(e) {
          $(this).next().toggle();
        });

        //SyntaxHighlighter
        $('pre').replaceWith(function() {
          var html = '<pre type="syntaxhighlighter" class="brush: js; html-script: true; quick-code: false; toolbar : false" >';
          html += $(this).html();
          html += '</pre>';
          return html;
        });
        SyntaxHighlighter.highlight();
      });
    </script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li><a paragraph href="#">CSS3 开发工具</a></li>
      <li><a paragraph href="#">CSS3 例子</a></li>
      <li><a paragraph href="#">CSS3 属性</a></li>
    </ol>
    <div class="h-web-paragraph">
      <h3 paragraph>CSS3 开发工具</h3>
      <div>
        <h4><a href="http://tools.webdirections.org/">Webdirections 动态生成css3和html5代码</a></h4>
        <p>Webdirections 是一款不错的代码集合工具，允许开发者检查、搜索、试验代码。
          你可以选择HTML5工具、CSS工具以及设计类工具等等，可以毫不费力的迅速点击打开。</p>
        <h4><a href="http://patternizer.com">Patternizer 设计CSS3 背景</a></h4>
        <p>这个工具可以让你开发真正炫酷的设计，比如各种线条。你可以随意修改线条的宽度、色彩、角度等等。有了它，帮你打造超赞的背景图片。</p>
        <h4><a href="http://rendera.heroku.com/">Rendera</a></h4>
        <p>如果你渴望这样一个工作氛围，可以检查、发现和研究不同类型的CSS、HTML或者JavaScript ，
          那么这款工具就可满足你的需求，根据选择的类型提供实时的结果并且让你的编码过程更加快速、炫酷。
          另外该工具可以生成简单的html和css以及js代码。
        </p>
        <h4><a href="http://heartcode.robertpataki.com/canvasloader/">CanvasLoader Creator</a></h4>
        <p>一款基于canvasloader插件动态生成的例子，可以动态的生成想要的load加载效果</p>

        <h4><a href="http://www.initializr.com/">Initializr</a></h4>
        <p>Initializr是一个HTML5模板生成器，以帮助你启动HTML5项目开发。他可以基于bootstrap生成相应的模板</p>
        <h4><a href="http://proto.io/freebies/onoff/">On/Off Flipswitch HTML5/CSS3 Generator</a></h4>
        <p>提供了定制on off按钮效果，该官网还提供了其他一些炫的东西。</p>
        <h4><a href="http://liveweave.com">Liveweave</a></h4>
        <p>LiveWeave是一个极好的在线工具，该工具支持HTML5、CSS3、JavaScript，允许你检验、测试并运行代码。</p>
        <h4><a href="http://www.99lime.com/">HTML KickStart</a></h4>
        <p>该工具让你轻松创建网站，支持排版、表格、按钮、列表等功能。</p>
        <p>参考：<a href="http://www.iteye.com/news/28226-html5-development-tools">10款必备的HTML5开发工具</a></p>
      </div>
      <h3 paragraph>CSS3 例子</h3>
      <div>
        <h4>不用图片和JS，照样创建绚丽的动态CSS3菜单</h4>
        <p>思路与制作过程
          <a href="http://www.iteye.com/news/28058-create-a-cool-animated-css3-menu-without-using-images-and-javascript">点击这里</a></p>
        <p><a href="examples/css3 menu demo.html">本地运行效果</a> ie版本中只有ie10支持，其他通用浏览器都支持。</p>
        <h4>15 款超棒的 CSS3/jQuery 页面过渡效果</h4>
        <p><a href="http://www.iteye.com/news/28126">点击这里</a></p>
        <h4>10 款超棒的JavaScript/CSS前端特效推荐</h4>
        <p><a href="http://www.iteye.com/news/28046">点击这里</a></p> 
      </div>
      <h3 paragraph>CSS3 属性</h3>
      <div>
        <h4>box-sizing 属性</h4>
        <div>
          <p>关于box-sizing 属性的理解，转载自<a href="http://www.rainleaves.com/html/1740.html">http://www.rainleaves.com/html/1740.html</a>
            以下是其原文（部分做了修改）
          </p>
          <p>说到 IE 的 bug，在 IE6以前的版本中，IE对盒模型的解析出现一些问题，跟其它浏览器不同，将 border 与 padding 都包含在 width 之内。而另外一些浏览器则与它相反，是不包括border和padding的。</p>
          <p>在我们开发的过程中会发现，有时候，如果对页面中的大区域进行设置时，将border、padding计算到width和height之内，反而更灵活。但W3C的 CSS2.1规范却规定了他们并不能被包含其中。考虑到这个问题，
            css3中引入了一个新的属性：box-sizing，它具有&ldquo;content-box&rdquo;和&rdquo;border-box&ldquo;两个值。</p>
          <h5>box-sizing:content-box</h5>
          <p>当我们设置 box-sizing: content-box; 时，浏览器对盒模型的解释遵从我们之前认识到的 W3C 标准，当它定义width和height时，它的宽度不包括border和padding。</p>
          <h5>box-sizing:border-box</h5>
          <p>当我们设置box-sizing: border-box; 时，浏览器对盒模型的解释与IE6之前的版本相同，当它定义width和height时，border和padding则是被包含在宽高之内的。
            内容的宽和高可以通过定义的  &ldquo;width&rdquo;和   &ldquo;height&rdquo;减去相应方向的&ldquo;padding&rdquo;和&ldquo;border&rdquo;的宽度得到。
            内容的宽和高必须保证不能为负，必要时将自动增大该元素border box的尺寸以使其内容的宽或高最小为0。</p>
          <p><strong>示例如下：</strong></p>
          <pre>
<div style="padding:5px; border: 1px solid #005B73; overflow: hidden;">
    <div style="width:200px; height:50px; border:10px ridge #f60; padding:5px; float:left; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box">
      height:50px; 设为border-box效果
    </div>
    <div style="width:200px; height:50px; border:10px ridge #0f0; float:left; padding:5px; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box">
      height:50px; 设为content-box效果
    </div>
</div></pre>

          <p><strong>运行效果：</strong></p>
          <div style="padding:5px; border: 1px solid #005B73; overflow: hidden;">
            <div style="width:200px; height:50px; border:10px ridge #f60; padding:5px; float:left; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box">
              height:50px; 设为border-box效果
            </div>
            <div style="width:200px; height:50px; border:10px ridge #0f0; float:left; padding:5px; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box">
              height:50px; 设为content-box效果
            </div>
          </div>
          <p>Firefox 请使用 -moz-box-sizing</p>
          <p>Safari / WebKit 请使用 -webkit-box-sizing</p>
          <p>Opera 直接用 box-sizing 即可。</p>
        </div>
        <p>看w3c中对该属性的说明，<a href="http://www.w3school.com.cn/cssref/pr_box-sizing.asp">CSS3 box-sizing 属性</a></p>
      </div>
    </div>
  </body>
</html>