<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>nodejs 相关模块、框架、构建工具等</title>

    <link rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css" type="text/css" />

    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="../../platform/javascript/view/init.js"></script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li>
        <a paragraph href="#">Grunt - JavaScript世界的构建工具</a>
        <ol class="h-web-catalogue2">
          <li>
            <a href="#">介绍</a>
          </li>
          <li>
            <a href="#">入门</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#">创建一份新的grunt项目</a>
              </li>
              <li>
                <a href="#">Gruntfile</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#">Gruntfile 案例分析</a>
          </li>
          <li>
            <a href="#">利用template创建grunt项目</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#">用法</a>
              </li>
              <li>
                <a href="#">安装模板</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#">grunt 例子</a>
          </li>
        </ol>
      </li>
      <li>
        <a paragraph href="#">bower - web前端包管理工具</a>
        <ol class="h-web-catalogue2">
          <li>
            <a href="#">什么是包管理</a>
          </li>
          <li>
            <a href="#">bower 介绍</a>
          </li>
          <li>
            <a href="#">bower 使用</a>
            <ol class="h-web-catalogue3">
              <li>
                <a href="#">安装 bower</a>
              </li>
              <li>
                <a href="#">利用bower下载安装包</a>
              </li>
              <li>
                <a href="#">更新已安装的包</a>
              </li>
              <li>
                <a href="#">查看已安装的web包</a>
              </li>
              <li>
                <a href="#">定制安装目录</a>
              </li>
              <li>
                <a href="#">查找需要的包</a>
              </li>
              <li>
                <a href="#">卸载本地不需要的包</a>
              </li>
              <li>
                <a href="#">从缓存中安装</a>
              </li>
              <li>
                <a href="#">查看某个包的信息，包括已安装的版本，可用的版本</a>
              </li>
              <li>
                <a href="#">查看包的git url</a>
              </li>
              <li>
                <a href="#">用浏览器打开包的发布主页</a>
              </li>
              <li>
                <a href="#">初始化创建一个包</a>
              </li>
              <li>
                <a href="#">注册一个bower包</a>
              </li>
              <li>
                <a href="#">依赖使用一个web包</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#">在nodejs代码中加载包</a>
          </li>
        </ol>
      </li>
      <li>
        <a paragraph href="#">Yeoman - Modern workflows for modern webapps</a>
        <ol class="h-web-catalogue2">
          <li>
            <a href="#">Yeoman 介绍</a>
          </li>
          <li>
            <a href="#">Yeoman 使用</a>
          </li>
        </ol>
      </li>
    </ol>

    <div class="h-web-paragraph">
      <h3 paragraph>Grunt - JavaScript世界的构建工具</h3>
      <div>
        <h4>介绍</h4>
        <p><a href="http://gruntjs.com/">官方网站</a></p>
        <p><a href="http://www.gruntjs.net/">中文网站</a></p>
        <h4>入门</h4>
        <p>首先安装CLI，安装命令如下：</p>
        <pre>
          npm install -g grunt-cli
        </pre>
        <p>grunt CLI的任务很简单：调用与Gruntfile在同一目录中grunt。这样带来的好处是，允许你在同一个系统上同时安装多个版本的grunt。</p>
        <h5>创建一份新的grunt项目</h5>
        <ul>
          <li>
            我们首先用命令 npm init 创建一个基本的package.json文件。
          </li>
          <li>
            然后用 npm install &lt;module&gt; --save-dev 命令安装grunt和grunt相关插件，此命令不光安装了&lt;module&gt;，还会自动将其添加到devDependencies 配置段中。比如
            <pre>
              npm install grunt --save-dev
            </pre>
          </li>
          <li>最后创建Gruntfile.js 或 Gruntfile.coffee文件</li>
        </ul>
        <h5>Gruntfile</h5>
        <p>Gruntfile.js 或 Gruntfile.coffee 文件是有效的 JavaScript 或 CoffeeScript 文件，应当放在你的项目根目录中，和package.json文件在同一目录层级，并和项目源码一起加入源码管理器。</p>
        <p>Gruntfile 由以下几部分构成：</p>
        <ul>
          <li>"wrapper" 函数</li>
          <li>项目与任务配置</li>
          <li>加载grunt插件和任务</li>
          <li>自定义任务</li>
        </ul>
        <ol>
          <li>
            "wrapper" 函数
            <p>每一份Gruntfile （和grunt插件）都遵循同样的格式，你所书写的Grunt代码必须放在此函数内：</p>
            <pre>
module.exports = function(grunt) {
  // Do grunt-related things in here
};
            </pre>
          </li>
          <li>
            项目和任务配置
            <p>大部分的Grunt任务都依赖某些配置数据，这些数据被定义在一个object内，并传递给grunt.initConfig 方法。</p>
            <pre>
// Project configuration.
grunt.initConfig({
  pkg: grunt.file.readJSON('package.json'),
  uglify: {
    options: {
      banner: '/*! <%= pkg.name %> <%= grunt.template.today("yyyy-mm-dd") %> */\n'
    },
    build: {
      src: 'src/<%= pkg.name %>.js',
      dest: 'build/<%= pkg.name %>.min.js'
    }
  }
});
            </pre>
            <p>上面代码中实现了两个功能：
              1. grunt.file.readJSON('package.json') 将存储在package.json文件中的JSON元数据引入到grunt config中，并存入pkg 属性内，这样就可以让我们访问到package.json文件中列出的属性了 <br />
              2. 用到了插件grunt-contrib-uglify 来编译压缩js文件。</p>
          </li>
          <li>
            加载grunt插件和任务
            <p>
              像 <a href="https://github.com/gruntjs/grunt-contrib-concat">concatenation</a>、[minification]、
              <a href="http://github.com/gruntjs/grunt-contrib-uglify">grunt-contrib-uglify</a> 和 
              <a href="https://github.com/gruntjs/grunt-contrib-jshint">linting</a>这些常用的任务（task）都已经以
              <a href="https://github.com/gruntjs">grunt插件</a>的形式被开发出来了。只要在 package.json 文件中被列为dependency（依赖）的包，
              并通过npm install安装之后，都可以在Gruntfile中以简单命令的形式使用，例如：
            </p>
            <pre>
// 加载能够提供"uglify"任务的插件。
grunt.loadNpmTasks('grunt-contrib-uglify');
            </pre>
          </li>
          <li>
            自定义任务
            <p>
              通过定义 default 任务，可以让Grunt默认执行一个或多个任务。在下面的这个案例中，执行 grunt 命令时如果不指定一个任务的话，将会执行uglify任务。
              这和执行grunt uglify 或者 grunt default的效果一样。default任务列表数组中可以指定任意数目的任务（可以带参数）。
            </p>
            <pre>
// Default task(s).
grunt.registerTask('default', ['uglify']);
            </pre>
            <p>
              如果Grunt插件中的任务（task）不能满足你的项目需求，你还可以在Gruntfile中自定义任务（task）。例如，在下面的Gruntfile中自定义了一个default 任务，并且他甚至不依赖任务配置：
            </p>
            <pre>
module.exports = function(grunt) {
  // A very basic default task.
  grunt.registerTask('default', 'Log some stuff.', function() {
    grunt.log.write('Logging some stuff...').ok();
  });
};
            </pre>
            这里注意的是：特定于项目的任务不必在Gruntfile中定义。他们可以定义在外部.js 文件中，并通过grunt.loadTasks 方法加载。
          </li>
        </ol>
        <p>下面是 Gruntfile 一个完整的例子</p>
        <pre>
module.exports = function(grunt) {

  // Project configuration.
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),
    uglify: {
      options: {
        banner: '/*! <%= pkg.name %> <%= grunt.template.today("yyyy-mm-dd") %> */\n'
      },
      build: {
        src: 'src/<%= pkg.name %>.js',
        dest: 'build/<%= pkg.name %>.min.js'
      }
    }
  });

  // 加载包含 "uglify" 任务的插件。
  grunt.loadNpmTasks('grunt-contrib-uglify');

  // 默认被执行的任务列表。
  grunt.registerTask('default', ['uglify']);

};
        </pre>
        <h4>Gruntfile 案例分析</h4>
        <p>下面就针对一个gruntfile案例做简单分析，这个案例使用到了5个grunt插件：</p>
        <ul>
          <li><a href="https://github.com/gruntjs/grunt-contrib-uglify">grunt-contrib-uglify</a></li>
          <li><a href="https://github.com/gruntjs/grunt-contrib-qunit">grunt-contrib-qunit</a></li>
          <li><a href="https://github.com/gruntjs/grunt-contrib-concat">grunt-contrib-concat</a></li>
          <li><a href="https://github.com/gruntjs/grunt-contrib-jshint">grunt-contrib-jshint</a></li>
          <li><a href="https://github.com/gruntjs/grunt-contrib-watch">grunt-contrib-watch</a></li>
        </ul>
        <p>先看该案例 Gruntfile.js 的完整代码</p>
        <pre>
module.exports = function(grunt) {

  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),
    //配置concat插件
    concat: {
      options: {
        // 定义一个用于插入合并输出文件之间的字符
        separator: ';'
      },
      dist: {
        // 将要被合并的文件
        src: ['src/**/*.js'],
        // 合并后的JS文件的存放位置
        dest: 'dist/<%= pkg.name %>.js'
      }
    },
    // 配置uglify插件
    uglify: {
      options: {
        // 此处定义的banner注释将插入到输出文件的顶部
        banner: '/*! <%= pkg.name %> <%= grunt.template.today("dd-mm-yyyy") %> */\n'
      },
      dist: {
        files: {
          'dist/<%= pkg.name %>.min.js': ['<%= concat.dist.dest %>']
        }
      }
    },
    // 配置qunit插件
    qunit: {
      files: ['test/**/*.html']
    },
    // 配置jshint插件
    jshint: {
      files: ['gruntfile.js', 'src/**/*.js', 'test/**/*.js'],
      options: {
        //这里是覆盖JSHint默认配置的选项
        globals: {
          jQuery: true,
          console: true,
          module: true,
          document: true
        }
      }
    },
    // 配置watch插件
    watch: {
      files: ['<%= jshint.files %>'],
      tasks: ['jshint', 'qunit']
    }
  });
  
  //加载所需要的Grunt插件
  grunt.loadNpmTasks('grunt-contrib-uglify');
  grunt.loadNpmTasks('grunt-contrib-jshint');
  grunt.loadNpmTasks('grunt-contrib-qunit');
  grunt.loadNpmTasks('grunt-contrib-watch');
  grunt.loadNpmTasks('grunt-contrib-concat');

  // 设置一些task,最重要的是default任务
  // 在命令行上输入"grunt test"，test task就会被执行。
  grunt.registerTask('test', ['jshint', 'qunit']);
  // 只需在命令行上输入"grunt"，就会执行default task
  grunt.registerTask('default', ['jshint', 'qunit', 'concat', 'uglify']);

};
        </pre>
        <p>下面简单的介绍一下每个插件</p>
        <ol>
          <li>
            concat
            <p>每个插件（即任务）的配置对象将作为Grunt配置对象(即grunt.initConfig({})所接受的配置对象)的属性，
              并且这个属性名称与任务名相同。因此"concat"任务就是我们的配置对象中的"concat"键(属性)。concat是用来合并连接文件的。</p>
          </li>
          <li>
            uglify
            <p>uglify插件的作用是压缩（minify）JavaScript文件。这里用到了grunt中的<% %>，
              <% %>模板字符串可以引用任意的配置属性，因此可以通过这种方式来指定诸如文件路径和文件列表类型的配置数据，从而减少一些重复的工作。</p>
          </li>
          <li>
            qunit
            <p>javascript 单元测试</p>
          </li>
          <li>
            jshint
            <p>分析javascript</p>
          </li>
          <li>
            watch
            <p>watch插件是用来检测任何你所指定的文件发生变化时，按照你所指定的顺序执行指定的任务。在上面例子中，如果我们执行 grunt watch 命令，
              当jshint文件发生变化时，就会执行jshint 和 qunit任务。
            </p>
          </li>
        </ol>
        <h4>利用template创建grunt项目</h4>
        <p>首先需要安装 grunt-init。grunt-init是一个用于自动创建项目脚手架的工具。
          它会基于当前工作环境和你给出的一些配置选项构建一个完整的目录结构。至于其所生成的具体文件和内容，依赖于你所选择的模版和构建过程中你对具体信息所给出的配置选项。运行以下命令来安装：</p>
        <pre>npm install -g grunt-init</pre>
        <h5>用法</h5>
        <ul>
          <li>使用grunt-init --help来获取程序帮助以及列出可用模板清单</li>
          <li>使用grunt-init TEMPLATE并基于可用模板创建一个项目</li>
          <li>使用grunt-init /path/to/TEMPLATE基于任意其他目录中可用的模板创建一个项目</li>
        </ul>

        <h5>安装模板</h5>
        <p>一旦模板被安装到你的~/.grunt-init/目录中(在Windows平台是%USERPROFILE%\.grunt-init\目录)，那么就可以通过grunt-init命令来使用它们了。
          建议你使用git将模板克隆到项目目录中。例如, <a href="https://github.com/gruntjs/grunt-init-jquery">grunt-init-jquery</a>模板可以像下面这样安装：</p>
        <pre>git clone git@github.com:gruntjs/grunt-init-jquery.git ~/.grunt-init/jquery</pre>
        <p>上面是在linux系统中的命令，在windows下应该为：</p>
        <pre>git clone git@github.com:gruntjs/grunt-init-jquery.git %USERPROFILE%\.grunt-init\jquery</pre>
        <p>安装后，就可以执行以下命令用jquery模板初始化项目了</p>
        <pre>grunt-init jquery</pre>
        <p><em>注意：如果你希望在本地像"foobarbaz"这样的别名使用模板，你应该指定~/.grunt-init/foobarbaz之后再克隆。grunt-init会使用实际在于~/.grunt-init/目录中的实际的目录名。</em></p>
        <p>下面是一些有Grunt官方维护的grunt-init模板：</p>
        <ul>
          <li><a href="https://github.com/gruntjs/grunt-init-commonjs">grunt-init-commonjs</a> - Create a commonjs module, including Nodeunit unit tests. (<a href="https://github.com/gruntjs/grunt-init-commonjs-sample/tree/generated">sample "generated" repo</a> | <a href="https://github.com/gruntjs/grunt-init-commonjs-sample#project-creation-transcript">creation transcript</a>)
            <pre>clone模板命令： git clone git@github.com:gruntjs/grunt-init-commonjs.git %USERPROFILE%\.grunt-init\commonjs</pre>
          </li>
          <li><a href="https://github.com/gruntjs/grunt-init-gruntfile">grunt-init-gruntfile</a> - Create a basic Gruntfile. (<a href="https://github.com/gruntjs/grunt-init-gruntfile-sample/tree/generated">sample "generated" repo</a> | <a href="https://github.com/gruntjs/grunt-init-gruntfile-sample#project-creation-transcript">creation transcript</a>)
            <p class="h-web-font-info">clone模板命令： git clone https://github.com/gruntjs/grunt-init-gruntfile.git %USERPROFILE%\.grunt-init\gruntfile</p>
          </li>
          <li><a href="https://github.com/gruntjs/grunt-init-gruntplugin">grunt-init-gruntplugin</a> - Create a Grunt plugin, including Nodeunit unit tests. (<a href="https://github.com/gruntjs/grunt-init-gruntplugin-sample/tree/generated">sample "generated" repo</a> | <a href="https://github.com/gruntjs/grunt-init-gruntplugin-sample#project-creation-transcript">creation transcript</a>)
            <p class="h-web-font-info">clone模板命令： git clone https://github.com/gruntjs/grunt-init-gruntplugin.git %USERPROFILE%\.grunt-init\gruntplugin</p>
          </li>
          <li><a href="https://github.com/gruntjs/grunt-init-jquery">grunt-init-jquery</a> - Create a jQuery plugin, including QUnit unit tests. (<a href="https://github.com/gruntjs/grunt-init-jquery-sample/tree/generated">sample "generated" repo</a> | <a href="https://github.com/gruntjs/grunt-init-jquery-sample#project-creation-transcript">creation transcript</a>)
            <p class="h-web-font-info">clone模板命令： git clone git@github.com:gruntjs/grunt-init-jquery.git %USERPROFILE%\.grunt-init\jquery</p>
          </li>
          <li><a href="https://github.com/gruntjs/grunt-init-node">grunt-init-node</a> - Create a Node.js module, including Nodeunit unit tests. (<a href="https://github.com/gruntjs/grunt-init-node-sample/tree/generated">sample "generated" repo</a> | <a href="https://github.com/gruntjs/grunt-init-node-sample#project-creation-transcript">creation transcript</a>)
            <p class="h-web-font-info">clone模板命令： git clone git@github.com:gruntjs/grunt-init-node.git %USERPROFILE%\.grunt-init\node</p>
          </li>
        </ul>
        <p>上面模板的安装，在windows平台下，首先需要在%USERPROFILE%下创建.grunt-init目录，当然可以直接把模板安装到项目目录下</p>
        <pre>git clone git@github.com:gruntjs/grunt-init-jquery.git jquery</pre>
        <p>jquery指定了本地别名，如果不设置jquery，那么会用模板本身名字创建，本例为 grunt-init-jquery</p>

        <h4>grunt 例子</h4>
        <p><a href="./examples/grunt/grunt-notmpl">不用模板手工创建一个grunt工程</a></p>
        <p><a href="./examples/grunt/grunt-jquery-tmpl">利用jquery模板创建一个grunt工程</a></p>
      </div>


      <h3 paragraph>bower - web前端包管理工具</h3>
      <div>
        <h4>什么是包管理</h4>
        <p>Javascript 语言本身是没有模块概念的，直到 node.js 的出现 CommonJS 规范应运而生，之后在浏览器端也出现了 AMD, CMD 等规范。
          这些规范都提供了一种组织方式使 javascript 的代码模块化，模块可以单独存在与使用，模块和模块之间存在联系。模块化的 javascript 可以打成一个包，所以需要提供一个工具来管理这些包。</p>
        <p>包的组织形式因工具而异，但一个包管理工具一般都有这些功能：</p>
        <ul>
          <li>
            注册机制
            <p>每个包需要确定一个唯一的 ID 使得搜索和下载的时候能够正确匹配，所以包管理工具需要维护注册信息，可以依赖其他平台。</p>
          </li>
          <li>
            文件存储
            <p>确定文件存放的位置，下载的时候可以找到，当然这个地址在网络上是可访问的。</p>
          </li>
          <li>
            上传下载
            <p>这是工具的主要功能，能提高包使用的便利性。比如想用 jquery 只需要 install 一下就可以了，不用到处找下载。上传并不是必备的，根据文件存储的位置而定，但需要有一定的机制保障。</p>
          </li>
          <li>
            依赖分析
            <p>这也是包管理工具主要解决的问题之一，既然包之间是有联系的，那么下载的时候就需要处理他们之间的依赖。下载一个包的时候也需要下载依赖的包。</p>
          </li>
        </ul>

        <h4>bower 介绍</h4>
        <p><a href="http://bower.io/">官网</a></p>
        <p>Bower 是 twitter 推出的一款前端包（web包通常认为由html+css+javascript构成）管理工具，基于nodejs的模块化思想，把功能分散到各个模块中，让模块和模块之间存在联系，通过 Bower 来管理模块间的联系。</p>
        <p>我们可以通过<a href="http://sindresorhus.com/bower-components/">这里</a>查看已经注册的包。</p>
        <h4>bower 使用</h4>
        <h5>安装 bower</h5>
        <pre>npm install -g bower</pre>
        <h5>利用bower下载安装包</h5>
        <pre>
//Using the dependencies listed in the current directory's bower.json
bower install

//Using a local or remote package
//bower install jquery
bower install &lt;package&gt;

//Using a specific version of a package
//bower install jquery#1.7.2
bower install &lt;package&gt;#&lt;version&gt;

//Using a different name and a specific version of a package
//name指本地下载文件夹名字，相当于包的别名
bower install &lt;name&gt;=&lt;package&gt;#&lt;version&gt;

//直接下载 git 库
bower install git://github.com/components/jquery.git

//下载线上的任意文件
bower install http://foo.com/jquery.awesome-plugin.js

//下载本地库
bower install ./repos/jquery
        </pre>
        <h5>更新已安装的包</h5>
        <pre>bower update &lt;package&gt;</pre>
        <h5>查看已安装的web包</h5>
        <pre>bower list</pre>
        <p>该命令还可以 <a href="http://addyosmani.com/blog/checking-in-front-end-dependencies/">check installed packages into source control.</a></p>

        <h5>定制安装目录</h5>
        <p>bower可以根据需要设置包安装目录，方法是创建 .bowerrc 文件（与.bower同目录），并设置directory属性，如：</p>
        <pre>
{
  "directory": "public/bower_components"
}          
        </pre>
        <h5>查找需要的包</h5>
        <pre>bower search [&lt;name&gt;]</pre>
        <p>命令 bower search会查找所有注册的web包</p>

        <h5>卸载本地不需要的包</h5>
        <pre>bower uninstall &lt;package-name&gt;</pre>
        <h5>从缓存中安装</h5>
        <p>如果没有网络，并且该包之前安装过，我们就可以执行以下命令从缓存中安装。</p>
        <pre>bower install &lt;package-name&gt; --offline</pre>
        <pre>
//The content of the cache can be listed with:
bower cache list

//The cache can be cleaned with:
bower cache clean
        </pre>

        <h5>查看某个包的信息，包括已安装的版本，可用的版本</h5>
        <pre>bower info &lt;package&gt;</pre>
        <h5>查看包的git url</h5>
        <pre>bower lookup &lt;package&gt;</pre>
        <h5>用浏览器打开包的发布主页</h5>
        <pre>bower home &lt;package&gt;</pre>
        <h5>初始化创建一个包</h5>
        <pre>bower init</pre>
        <p>执行该命令根据提示输入相应的信息，确认后会生成bower.json文件，该文件主要包含以下字段</p>
        <ul>
          <li><span class="h-web-font-info">name</span> (required): The name of your package.</li>
          <li><span class="h-web-font-info">version</span>: A semantic version number (see <a href="http://semver.org/">semver</a>).</li>
          <li><span class="h-web-font-info">main</span> [string|array]: The primary endpoints of your package.</li>
          <li><span class="h-web-font-info">ignore</span> [array]: An array of paths not needed in production that you want Bower to ignore when installing your package.</li>
          <li><span class="h-web-font-info">dependencies</span> [hash]: Packages your package depends upon in production.</li>
          <li><span class="h-web-font-info">devDependencies</span> [hash]: Development dependencies.</li>
          <li><span class="h-web-font-info">private</span> [boolean]: Set to true if you want to keep the package private and do not want to register the package in future.</li>
        </ul>
        <p>我们也可以手工创建该文件</p>
        <pre>
{
  "name": "my-project",
  "version": "1.0.0",
  "main": "path/to/main.css",
  "ignore": [
    ".jshintrc",
    "**/*.txt"
  ],
  "dependencies": {
    "&lt;name&gt;": "&lt;version&gt;",
    "&lt;name&gt;": "&lt;folder&gt;",
    "&lt;name&gt;": "&lt;package&gt;"
  },
  "devDependencies": {
    "&lt;test-framework-name&gt;": "&lt;version&gt;"
  }
}
        </pre>
        <h5>注册一个bower包</h5>
        <p>我们可以把创建的包通过执行以下命令来注册提交，这样项目中就可以使用该包。</p>
        <pre>
bower register &lt;my-package-name&gt; &lt;git-endpoint&gt;

bower register project git://github.com/yourname/project
        </pre>
        <h5>依赖使用一个web包</h5>
        <p>需要在bower.json文件中设置dependencies属性，比如</p>
        <pre>
"dependencies": {
   "jquery": ">= 1.9.0"
}          
        </pre>

        <p>下面是bower各种命令</p>
        <ul>
          <li>cache: bower缓存管理</li>
          <li>help: 显示Bower命令的帮助信息</li>
          <li>home: 通过浏览器打开一个包的github发布页</li>
          <li>info: 查看包的信息</li>
          <li>init: 创建bower.json文件</li>
          <li>install: 安装包到项目</li>
          <li>link: 在本地bower库建立一个项目链接</li>
          <li>list: 列出项目已安装的包</li>
          <li>lookup: 根据包名查询包的URL</li>
          <li>prune: 删除项目无关的包</li>
          <li>register: 注册一个包</li>
          <li>search: 搜索包</li>
          <li>update: 更新项目的包</li>
          <li>uninstall: 删除项目的包</li>
        </ul>

        <h4>在nodejs代码中加载包</h4>
        <p>bower 提供了一个对象bower.commands，所有的操作都包含在该对象中，例如</p>
        <pre>
var bower = require('bower');

bower.commands
.install(['jquery'], { save: true }, { /* custom config */ })
.on('end', function (installed) {
    console.log(installed);
});

bower.commands
.search('jquery', {})
.on('end', function (results) {
    console.log(results);
});
        </pre>
        <p>commands 提供了4个事件</p>
        <ul>
          <li><span class="h-web-font-info">log</span> is emitted to report the state/progress of the command.</li>   
          <li><span class="h-web-font-info">prompt</span> is emitted whenever the user needs to be prompted.</li>   
          <li><span class="h-web-font-info">error</span> will only be emitted if something goes wrong.</li>   
          <li><span class="h-web-font-info">end</span> is emitted when the command successfully ends.</li>   

        </ul>
      </div>
      <h3 paragraph>Yeoman - Modern workflows for modern webapps</h3>
      <div>
        <h4>Yeoman 介绍</h4>
        <p>
          Yeoman是Google的团队和外部贡献者团队合作开发的，他的目标是通过Grunt（一个用于开发任务自动化的命令行工具）和Bower（一个HTML、CSS、Javascript和图片等前端资源的包管理器）
          的包装为开发者创建一个易用的工作流。
        </p>
        <p>Yeoman主要有三部分组成：yo（脚手架工具）、grunt（构建工具）、bower（包管理器）。这三个工具是分别独立开发的，但是需要配合使用，来实现我们高效的工作流模式。</p>
        <p><a href="http://yeoman.io/">官方网站</a></p>

        <h4>Yeoman 使用</h4>
        <p>首先利用npm安装 yo、grunt和bower。grunt 和bower上面已提到。yo的安装命令为</p>
        <pre>npm install -g yo</pre>
        <p>然后安装需要的构建器（generator），其实就一node插件，用来生成那类web项目，比如：webapp angular等</p>
        <pre>
npm install -g generator-webapp
npm install -g generator-angular
        </pre>
        <p>执行以上命令会分别安装 webapp 和 angular generator。</p>
        <p>安装后，我们就可以用 yo 来构建项目了</p>
        <pre>yo webapp</pre>
        <p>参考资料：<a href="http://blog.fens.me/nodejs-yeoman-intro/">Yeoman自动构建js项目</a></p>
      </div>
    </div>
  </body>
</html>