<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>nodejs 学习笔记</title>
    <link rel="stylesheet" href="../../platform/javascript/syntaxhighlighter/styles/shCoreDefault.css" type="text/css" />

    <link rel="stylesheet" href="../../platform/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/platform.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/theme/skyblue.css" type="text/css"/>
    <link rel="stylesheet" href="../../platform/css/web.css" type="text/css"/>

    <style>
      body{
        padding:10px;
      }
    </style>

    <script type="text/javascript" src="../../platform/javascript/jquery/jquery.js"></script>

    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="../../platform/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="../../platform/javascript/view/init.js"></script>
  </head>
  <body>
    <h3 class="h-web-paragraph-title">目录</h3>
    <ol class="h-web-catalogue">
      <li><a paragraph href="#">Backbone 介绍</a></li>
    </ol>
    <div class="h-web-paragraph">
      <h3 paragraph>nodejs 介绍</h3>
      <div>
        <p>关于什么是nodejs，为什么要用nodejs，可以参考这里</p>
        <p><a href="http://www.infoq.com/cn/articles/what-is-nodejs" target="_blank">深入浅出Node.js（一）：什么是nodejs</a></p>
        <p><a href="http://baike.baidu.com/view/3974030.htm" target="_blank">百度百科：nodejs</a></p>
        <p>nodejs的官网 <a href="http://nodejs.org/">nodejs</a></p>
      </div>
      <h3 paragraph>nodejs的安装与配置</h3>
      <div>
        <p>这里只简单的介绍在window环境下的安装与配置。
        </p>
        <p>1、nodejs的安装</p>
        <p>首先到官方 <a href="http://nodejs.org/">http://nodejs.org/</a>下载最新版本，这里我们下载msi格式的安装文件，免去环境变量的配置，
          我们也可以到 <a href="http://nodejs.org/dist/">http://nodejs.org/dist/</a> 下载其他版本，下载后直接安装即可。</p>
        <p>安装的时候选择默认设置，默认设置会安装npm（NPM的全称是Node Package Manager）。我本地安装的位置为：D:\Program Files\nodejs</p>
        <p>安装完成后，nodejs会自动设置环境变量path：D:\Program Files\nodejs\ 。这里还需要手动设置一下环境变量 NODE_PATH： D:\Program Files\nodejs\node_modules ，
          该变量的设置可以在需要用到的地方直接用NODE_PATH即可。</p>
        <p>2、NPM的安装</p>
        <p>如果在安装nodejs时，没有选择安装npm时，可以执行以下命令来下载npm文件（假设下载到目录D:\node\npm下面）。</p>
        <pre>git clone --recursive git://github.com/isaacs/npm.git </pre>
        <p>下载成功后，执行以下命令即可完成npm的安装，这时打开nodejs安装目录时会发现已经成功安装了node_modules。</p>
        <pre>cd D:\node\npm
node cli.js install npm -gf
npm install underscore </pre>
        <p>分别运行完以上命令后，会返回以下内容</p>
        <pre>underscore@1.4.3 node_modules\underscore</pre>
        <p>说明安装成功。</p>
        <p>3、NPM相关插件的安装</p>
        <p>默认情况下，NPM会安装系统提供的一些插件，比如request等。如果用户需要安装其他第三方插件时，需要执行以下安装命令。这里需要说明一下：<span class="h-web-font-red">如果用户把nodejs安装在c盘下，在安装npm相关插件到nodejs安装目录下时，这时需要用管理员身份运行cmd，即找到cmd.exe所在的目录，右键该文件，以管理员身份运行。</span></p>
        <p>常用的插件有</p>
        <pre>npm install express 可以创建一个node工程，命令： express myapp(工程名)<br><br>npm install jade</pre>
        <p>&nbsp;</p>
      </div>

    </div>
  </body>
</html>