<!DOCTYPE html>
<html ng-app="directiveExample">
<head>
  <meta charset="utf-8">
  <title>directive demo</title>
  <link rel="stylesheet" href="../../../../../platform/css/bootstrap/css/bootstrap.css" type="text/css"/>
  <style type="text/css">
    body {
      padding: 10px;
    }

    custom-directive {
      display: block;
      margin-top: 10px;
      width: 50%;
    }

    input {
      width: 500px;
    }
  </style>
</head>
<body>
<div style="margin: 10px 0;">一个囊括directive定义时所有属性的例子。</div>
<div ng-controller="DirectiveCtr">
  local-name-no-attr - parentNameNoAttr：<input type="text" name="parentNameNoAttr" ng-model="parentNameNoAttr"/> <br/>
  local-name-attr - parentName：<input type="text" name="parentName" ng-model="parentName"/> <br/>

  local-model-no-attr - parentModelNoAttr：<input type="text" name="parentModelNoAttr" ng-model="parentModelNoAttr"/> <br/>
  local-model-attr - parentModel：<input type="text" name="parentModel" ng-model="parentModel"/> <br/>

  <custom-directive local-name-no-attr="{{parentNameNoAttr}}" local-name-attr="{{parentName}}"
                    local-model-no-attr="parentModelNoAttr" local-model-attr="parentModel"
                    local-fn-no-Attr="parentFnNoAttr();" local-fn-attr="parentFn();" style="border: 1px solid #004099;padding:10px;">
    <p>Some transcluded content</p>
  </custom-directive>
  <script type="text/ng-template" id="/tpl.html">
    <div>
      <!-- note, templates must have exactly one root element -->
      <div>scope @ 类型</div>
      localNameNoAttr: '@' ：<span ng-click="changeName();">{{ localNameNoAttr }}</span><br/>
      localName: '@localNameAttr' ： {{ localName }}
      <br/><br/>

      <div>scope = 类型</div>
      localModelNoAttr: '=?' : <span ng-click="changeModelValue();">{{ localModelNoAttr }}</span><br/>
      localModel :'=demoModel'：<span>{{ localModel }}</span>
      <br/><br/>

      <div>scope & 类型</div>
      localFnNoAttr: '&' : <span ng-click="localFnNoAttr();">点击看看效果</span><br/>
      localFn: '&localFnAttr' : <span ng-click="localFn();">点击看看效果</span>
      <br/><br/>
      以下为内容值
      <div class="content" ng-transclude></div>
    </div>
  </script>

  <div directive1 directive2>指令controller的设置，指令间利用controller的通讯</div>

  <div directive-parent>
    <directive-sub>
      compile pre 和 post例子，输出结果为: <br/>
      directiveParent compile<br/>
      directiveSub compile<br/>
      directiveParent link pre<br/>
      directiveSub link pre<br/>
      directiveSub link post<br/>
      directiveParent link post<br/>
    </directive-sub>
  </div>

</div>

<div ng-controller="DirectiveAnotherCtr">

</div>
<script type="text/javascript" src="../../angular.js"></script>
<script type="text/javascript">
  var directiveApp = angular.module('directiveExample', []);
  directiveApp.controller('DirectiveCtr', ['$scope', function ($scope) {
    $scope.parentNameNoAttr = '设置为 @ 的形式，点击看看效果';
    $scope.parentName = '设置为 @attr 的形式';
    $scope.parentModelNoAttr = '设置为 = 的形式，点击看看效果';
    $scope.parentModel = '设置为 =attr 的形式';
    $scope.parentFnNoAttr = function () {
      alert('调用父function: 设置为 & 的形式');
    };
    $scope.parentFn = function () {
      alert('调用父function: 设置为 &attr 的形式');
    };
  }]);

  directiveApp.controller('DirectiveAnotherCtr', ['$scope', function ($scope) {
    $scope.name = '这是另一个controller中的name值';
  }]);
  directiveApp.directive('customDirective', function () {
    return {
      name: 'customController',
      //priority: 200,//如果设置了优先级，那么该指令就会优先input调用，就抓取不到ng-model中的值
      terminal: true,//是否以当前指令的权重为结束界限。如果这值设置为 true ，则节点中权重小于当前指令的其它指令不会被执行。相同权重的会执行。
      restrict: 'EA',
      templateUrl: '/tpl.html',
      //template: 'e',//模板内容
      transclude: true,
      replace: false,//是否使用模板内容替换掉整个节点， true 替换整个节点， false 替换节点内容。
      scope: {
        localNameNoAttr: '@',
        localName: '@localNameAttr',
        localModelNoAttr: '=?',//用=? 或=?attr可以避免，父scope中没有定义ng-model时，指令中调用localText会出错的问题
        localModel: '=localModelAttr',
        localFnNoAttr: '&',
        localFn: '&localFnAttr'
      },
      controller: function ($scope, $element, $attrs, $transclude) {
        console.log('controller');
        console.log($scope);
        var node = $transclude(function (clonedElement, scope) {
          console.log(clonedElement);
          console.log('--');
          console.log(scope);
        });
        console.log(node);
      },
      //require: 'siblingDirectiveName', // or // ['^parentDirectiveName', '?optionalDirectiveName', '?^optionalParent'],
      link: function (scope, iElement, iAttrs, controller) {
        scope.changeName = function () {
          console.info(scope.localNameNoAttr);
          scope.localNameNoAttr = '点击标题改变了值，父scope中对应的 parentNameNoAttr 不会改变';
        };
        scope.changeModelValue = function () {
          console.info(scope.localModelNoAttr);
          scope.localModelNoAttr = '点击后，父scope中对应的 parentModelNoAttr 值也发生了改变';
        };

      }
    };
  });

  directiveApp.directive('directive1', function () {
    return {
      name: 'directive1Name',
      restrict: 'EA',
      controller: function ($scope, $element, $attrs, $transclude) {
        console.log('directive1');
        this.text = '这是一个自定义的指令，别名为 directive1Name';
      },
      compile: function () {
      }
    };
  });

  directiveApp.directive('directive2', function () {
    return {
      restrict: 'EA',
      require: 'directive1Name',
      controller: function ($scope, $element, $attrs, $transclude) {
        console.log('directive2');
      },
      compile: function () {
        return function ($scope, $element, $attrs, $controller) {
          console.log($controller);
        };
      }
    };
  });


  directiveApp.directive('directiveParent', function () {
    return {
      restrict: 'EA',
      compile: function (tElement, tAttrs, transclude) {
        console.log('directiveParent compile');
        return {
          pre: function () {
            console.log('directiveParent link pre');
          },
          post: function () {
            console.log('directiveParent link post');
          }
        };
      }
    };
  });

  directiveApp.directive('directiveSub', function () {
    return {
      restrict: 'EA',
      compile: function (tElement, tAttrs, transclude) {
        console.log('directiveSub compile');
        return {
          pre: function () {
            console.log('directiveSub link pre');
          },
          post: function () {
            console.log('directiveSub link post');
          }
        };
      }
    };
  });


</script>

<p>例子代码</p>
  <pre>
&lt;!DOCTYPE html&gt;
&lt;html ng-app="directiveExample"&gt;
&lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;title&gt;directive demo&lt;/title&gt;
  &lt;link rel="stylesheet" href="../../../../../platform/css/bootstrap/css/bootstrap.css" type="text/css"/&gt;
  &lt;style type="text/css"&gt;
    body{
      padding: 10px;
    }
    custom-directive{
      display: block;
      margin-top: 10px;
      width: 50%;
    }
    input{
      width: 500px;
    }
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div style="margin: 10px 0;"&gt;一个囊括directive定义时所有属性的例子。&lt;/div&gt;
&lt;div ng-controller="DirectiveCtr"&gt;
  local-name-no-attr  -  parentNameNoAttr：&lt;input type="text" name="parentNameNoAttr" ng-model="parentNameNoAttr" /&gt; &lt;br /&gt;
  local-name-attr - parentName：&lt;input type="text" name="parentName" ng-model="parentName" /&gt; &lt;br /&gt;

  local-model-no-attr  - parentModelNoAttr：&lt;input type="text" name="parentModelNoAttr" ng-model="parentModelNoAttr" /&gt; &lt;br /&gt;
  local-model-attr - parentModel：&lt;input type="text" name="parentModel" ng-model="parentModel" /&gt; &lt;br /&gt;

  &lt;custom-directive local-name-no-attr="{{parentNameNoAttr}}" local-name-attr="{{parentName}}"
                    local-model-no-attr="parentModelNoAttr" local-model-attr="parentModel"
                    local-fn-no-Attr="parentFnNoAttr();" local-fn-attr="parentFn();"  style="border: 1px solid #004099;padding:10px;"&gt;
    &lt;p&gt;Some transcluded content&lt;/p&gt;
  &lt;/custom-directive&gt;
  &lt;script type="text/ng-template" id="/tpl.html"&gt;
    &lt;div&gt;
      &lt;!-- note, templates must have exactly one root element --&gt;
      &lt;div&gt;scope @ 类型&lt;/div&gt;
      localNameNoAttr: '@' ：&lt;span ng-click="changeName();" &gt;{{ localNameNoAttr }}&lt;/span&gt;&lt;br /&gt;
      localName: '@localNameAttr' ： {{ localName }}
      &lt;br /&gt;&lt;br /&gt;

      &lt;div&gt;scope = 类型&lt;/div&gt;
      localModelNoAttr: '=?' : &lt;span ng-click="changeModelValue();"&gt;{{ localModelNoAttr }}&lt;/span&gt;&lt;br /&gt;
      localModel :'=demoModel'：&lt;span&gt;{{ localModel }}&lt;/span&gt;
      &lt;br /&gt;&lt;br /&gt;

      &lt;div&gt;scope & 类型&lt;/div&gt;
      localFnNoAttr: '&' : &lt;span ng-click="localFnNoAttr();"&gt;点击看看效果&lt;/span&gt;&lt;br /&gt;
      localFn: '&localFnAttr' : &lt;span ng-click="localFn();"&gt;点击看看效果&lt;/span&gt;
      &lt;br /&gt;&lt;br /&gt;
      以下为内容值
      &lt;div class="content" ng-transclude&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/script&gt;

  &lt;div directive1 directive2&gt;指令controller的设置，指令间利用controller的通讯&lt;/div&gt;

  &lt;div directive-parent&gt;&lt;directive-sub&gt;
    compile pre 和 post例子，输出结果为: &lt;br /&gt;
    directiveParent compile&lt;br /&gt;
    directiveSub compile&lt;br /&gt;
    directiveParent link pre&lt;br /&gt;
    directiveSub link pre&lt;br /&gt;
    directiveSub link post&lt;br /&gt;
    directiveParent link post&lt;br /&gt;
  &lt;/directive-sub&gt;&lt;/div&gt;

&lt;/div&gt;

&lt;div ng-controller="DirectiveAnotherCtr"&gt;

&lt;/div&gt;
&lt;script type="text/javascript" src="../../angular.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
  var directiveApp = angular.module('directiveExample', []);
  directiveApp.controller('DirectiveCtr', ['$scope', function($scope) {
    $scope.parentNameNoAttr = '设置为 @ 的形式，点击看看效果';
    $scope.parentName = '设置为 @attr 的形式';
    $scope.parentModelNoAttr = '设置为 = 的形式，点击看看效果';
    $scope.parentModel = '设置为 =attr 的形式';
    $scope.parentFnNoAttr = function(){
      alert('调用父function: 设置为 & 的形式');
    };
    $scope.parentFn = function(){
      alert('调用父function: 设置为 &attr 的形式');
    };
  }]);

  directiveApp.controller('DirectiveAnotherCtr', ['$scope', function($scope) {
    $scope.name = '这是另一个controller中的name值';
  }]);
  directiveApp.directive('customDirective', function() {
    return {
      name: 'customController',
      //priority: 200,//如果设置了优先级，那么该指令就会优先input调用，就抓取不到ng-model中的值
      terminal: true,//是否以当前指令的权重为结束界限。如果这值设置为 true ，则节点中权重小于当前指令的其它指令不会被执行。相同权重的会执行。
      restrict: 'EA',
      templateUrl: '/tpl.html',
      //template: 'e',//模板内容
      transclude: true,
      replace: false,//是否使用模板内容替换掉整个节点， true 替换整个节点， false 替换节点内容。
      scope: {
        localNameNoAttr: '@',
        localName: '@localNameAttr',
        localModelNoAttr: '=?',//用=? 或=?attr可以避免，父scope中没有定义ng-model时，指令中调用localText会出错的问题
        localModel: '=localModelAttr',
        localFnNoAttr: '&',
        localFn: '&localFnAttr'
      },
      controller: function($scope, $element, $attrs, $transclude) {
        console.log('controller');
        console.log($scope);
        var node = $transclude(function(clonedElement, scope){
          console.log(clonedElement);
          console.log('--');
          console.log(scope);
        });
        console.log(node);
      },
      //require: 'siblingDirectiveName', // or // ['^parentDirectiveName', '?optionalDirectiveName', '?^optionalParent'],
      link: function(scope, iElement, iAttrs, controller) {
        scope.changeName = function() {
          console.info(scope.localNameNoAttr);
          scope.localNameNoAttr = '点击标题改变了值，父scope中对应的 parentNameNoAttr 不会改变';
        };
        scope.changeModelValue = function() {
          console.info(scope.localModelNoAttr);
          scope.localModelNoAttr = '点击后，父scope中对应的 parentModelNoAttr 值也发生了改变';
        };

      }
    };
  });

  directiveApp.directive('directive1', function(){
    return {
      name: 'directive1Name',
      restrict: 'EA',
      controller: function($scope, $element, $attrs, $transclude){
        console.log('directive1');
        this.text = '这是一个自定义的指令，别名为 directive1Name';
      },
      compile: function(){}
    };
  });

  directiveApp.directive('directive2', function(){
    return {
      restrict: 'EA',
      require: 'directive1Name',
      controller: function($scope, $element, $attrs, $transclude){
        console.log('directive2');
      },
      compile: function(){
        return function($scope, $element, $attrs, $controller){
          console.log($controller);
        };
      }
    };
  });


  directiveApp.directive('directiveParent', function(){
    return {
      restrict: 'EA',
      compile: function(tElement, tAttrs, transclude){
        console.log('directiveParent compile');
        return {
          pre: function(){
            console.log('directiveParent link pre');
          },
          post: function(){
            console.log('directiveParent link post');
          }
        };
      }
    };
  });

  directiveApp.directive('directiveSub', function(){
    return {
      restrict: 'EA',
      compile: function(tElement, tAttrs, transclude){
        console.log('directiveSub compile');
        return {
          pre: function(){
            console.log('directiveSub link pre');
          },
          post: function(){
            console.log('directiveSub link post');
          }
        };
      }
    };
  });


&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
  </pre>
</body>
</html>