<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>ng-list demo</title>
  </head>
  <body >
    <form name="myForm" ng-controller="Ctrl">
      <div>
        List: <input name="namesInput" ng-model="names" ng-list />
      </div>
      <div style="margin-top:10px;">
        List(如果ng-model的值为非数组则返回空): <input name="namesInput2" ng-model="namesStr" ng-list />
      </div>
      <div style="margin-top:10px;">
        List(嵌套数组): <input name="namesInput3" ng-model="nestedArray" ng-list size="100" />
      </div>

      <div style="margin-top:10px;">
        List(没有设置ng-model会报错): <input name="namesInput4" ng-list />
      </div>
    </form>
    <script type="text/javascript" src="../../angular.js"></script>
    <script type="text/javascript">
          function Ctrl($scope) {
            $scope.names = ['igor', 'misko', 'vojta'];
            $scope.namesStr = 'string';
            $scope.nestedArray = [['igor', 'misko', new Date(), ['inner1', 'inner2'],{}], 'igor', 'misko', 'vojta'];
          }
    </script>
  </body>
</html>